---
import type { Pos } from '@/schemas';

import Container from './Container.astro';
import { cn } from '@/frontend/utils';

interface Props {
	title: string;
	pos: Pos;
	class?: string;
}

const { title, pos, class: className } = Astro.props;
---

<Container variant="inner" class={[className, 'mb-10 sm:mb-14']}>
	<slot name="before" />

	<h2
		class={cn(
			'heading-5xl sm:max-w-[20ch] font-bold',
			pos == 'right' ? 'sm:ml-auto sm:text-right' : '',
		)}
	>
		{title}
	</h2>

	<slot />
</Container>
