---
import { Icon } from "astro-icon/components";

const { slug } = Astro.params;
---

<button
  class="text-accent-dark flex cursor-pointer items-end gap-3"
  onclick={slug
    ? `window.location.href = '/#${slug}'`
    : `window.location.href = '/'`}
>
  <Icon name="ph:house-line-fill" class="h-auto w-8 sm:w-9 xl:w-12 -mb-1" />
  <span class="font-sans text-base leading-none font-bold">Go Back</span>
</button>
