---
import { Icon } from "astro-icon/components";
---

<button
  class="bg-accent-dark fixed right-7 bottom-8 z-10 flex h-17 w-17 cursor-pointer items-center justify-center rounded-[50%] sm:right-11 sm:bottom-13 sm:h-20 sm:w-20"
  id="letsTalk"
  aria-label="Lets talk"
  onclick={`toggleMenu("talkMenu")`}
>
  <Icon name="ph:mailbox-fill" class="h-auto w-10 text-white sm:w-11" aria-hidden="true" />
</button>
