---
import Layout from "~/layouts/Layout.astro";
import Menus from "@modals/Menus.svelte";
import { getServices } from "~/content.config.ts";

export async function getStaticPaths() {
  return (await getServices()).map((service: any) => ({
    params: { slug: service.id.split("/")[0] },
  }));
}

const { slug } = Astro.params;
const service = (await getServices()).find((s) => s.id.split("/")[0] === slug);
---

<Layout>
  <h1>{service.data.title}</h1>
  <Menus client:idle />
</Layout>
