---
import clsx from "clsx";
const { class: className, ...rest } = Astro.props;
---

<button
  class={clsx(
    `h-8 w-8 cursor-pointer rounded-[50%] border-[1.4px] border-black transition-[border] duration-250 xl:h-10 xl:w-10 [&.active]:border-5 border-solid`,
    className,
  )}
  {...rest}
>
</button>
