---
import Mailbox from "~/assets/mailbox.svg";
---

<button
  class="bg-accent-dark fixed right-7 bottom-8 z-4 flex h-17 w-17 cursor-pointer items-center justify-center rounded-[50%] sm:right-11 sm:bottom-13 sm:h-20 sm:w-20"
  id="letsTalk"
  onclick={`toggleMenu("talkMenu")`}
>
  <Mailbox class="w-10 text-white sm:w-11" />
</button>
