---
import Mailbox from "~/assets/mailbox.svg";
---

<button
  class="bg-accent-dark fixed right-8 bottom-8 z-46 flex h-20 w-20 cursor-pointer items-center justify-center rounded-[50%] sm:right-12 sm:bottom-13"
  id="letsTalk"
  onclick={`toggleMenu("talkMenu")`}
>
  <Mailbox class="h-10 w-10 text-white sm:h-11 sm:w-11" />
</button>
