@import "tailwindcss";

@layer components {

  .heading-6xl,
  .prose h1 {
    @apply font-serif text-balance text-2xl md:text-3xl lg:text-4xl xl:text-5xl 2xl:text-6xl;
  }

  .heading-5xl,
  .prose h2 {
    @apply font-serif text-balance text-2xl md:text-3xl xl:text-4xl 2xl:text-5xl;
  }

  .heading-4xl,
  .prose h3 {
    @apply font-serif text-balance text-xl md:text-3xl xl:text-4xl;
  }

  .heading-3xl,
  .prose h4 {
    @apply font-serif text-balance text-lg sm:text-xl md:text-2xl lg:text-3xl;
  }

  .heading-2xl,
  .prose h5 {
    @apply font-serif text-balance text-lg md:text-2xl;
  }

  .heading-xl,
  .prose h6 {
    @apply font-serif text-balance text-md sm:text-base leading-7 md:text-xl;
  }

  .desc-base,
  .prose p,
  .prose li {
    @apply font-sans text-base md:text-md;
    color: var(--color-desc);
  }

  .prose {
    @apply space-y-3;
  }

  .prose ul,
  .prose ol {
    @apply ml-8 my-4 space-y-3;
  }

  .prose ul li, .prose ol li {
   @apply pl-3;
  }

  .prose ul {
    list-style-type: disc;
  }

  .prose ol {
    list-style-type: decimal;
  }

  .desc-sm {
    @apply font-sans text-sm sm:text-base;
    color: var(--color-desc);
  }

  .desc-md {
    @apply font-sans text-md;
    color: var(--color-desc);
  }
}

@theme {
  /* RESET TAILWIND DEFAULTS */
  --color-*: initial;
  --default-font-*: initial;
  --default-mono-*: initial;

  --text-*: initial;
  --radius-*: initial;
  --leading-*: initial;
  --container-*: initial;

  --drop-*: initial;
  --shadow-*: initial;
  --inset-*: initial;
  --animate-*: initial;
  --blur-*: initial;
  --ease-*: initial;
  --perspective-*: initial;
  --default-transition-*: initial;
  --tracking-*: initial;
  --aspect-video-*: initial;

  --color-error: var(--color-accent-dark);
  --color-success: #245E24;
  --color-url: #5A7184;
  --color-accent: #FEE2E6;
  --color-accent-dark: #EF5277;
  --color-black: #000;
  --color-desc: #2b2b2b;
  --color-white: #FFFAFB;
  --color-tone: #F5F5F5;
  --color-gold: #FFD0B5;

  --font-serif: var(--font-cormorant);
  --font-sans: var(--font-dm-sans);
  --font-mono: initial;

  --breakpoint-xs: 576px;
  --breakpoint-sm: 700px;
  --breakpoint-md: 900px;
  --breakpoint-lg: 1150px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1430px;

  --spacing-inset: 0.9rem;
  --spacing-inner: var(--breakpoint-xl);
  --spacing-outer: var(--breakpoint-2xl);
  --spacing-middle: calc(var(--spacing-inner) + (var(--spacing-outer) - var(--spacing-inner)) / 2);
  --right-hero-offset: calc((100vw - var(--spacing-outer))/ 2 + var(--spacing-outer) - var(--spacing-inner));
  --review-diff: max(calc((100vw - var(--spacing-inner)) / 2 + var(--spacing-inset)), 0px);

  --radius-sm: 5px;
  --radius-md: .5rem;
  --radius-lg: 1rem;

  --text-sm: 1.1rem;
  --text-sm--line-height: 1.7;
  --text-base: 1.2rem;
  --text-base--line-height: 1.7;
  --text-md: 1.45rem;
  --text-md--line-height: 1.7;
  --text-bg: 1.65rem;
  --text-bg--line-height: 1.7;
  --text-lg: 1.9rem;
  --text-lg--line-height: 1.2;
  --text-xl: 2.1rem;
  --text-xl--line-height: 1.0;
  --text-2xl: 2.2rem;
  --text-2xl--line-height: 1.1;
  --text-3xl: 2.7rem;
  --text-3xl--line-height: 1.1;
  --text-4xl: 3.3rem;
  --text-4xl--line-height: 1.1;
  --text-5xl: 3.8rem;
  --text-5xl--line-height: 1.0;
  --text-6xl: 4.4rem;
  --text-6xl--line-height: 1.0;
}

:root {
  background: var(--color-white);
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -webkit-tap-highlight-color: transparent;
  color: var(--color-black);
}

/* sleepy W3C */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 1000px var(--color-white) inset;
  box-shadow: 0 0 0 1000px var(--color-white) inset;
  -webkit-text-fill-color: var(--color-black);
}

@layer base {
  button {
    text-align: left;
    display: table;
    width: auto;
  }

  a {
    display: table;
  }
}

@supports (-webkit-appearance: none) {
  .w3c-focus:focus-within:has(:focus-visible) {
    outline: -webkit-focus-ring-color auto;
  }
}

@supports (-moz-appearance: none) {
  .w3c-focus:focus-within:has(:focus-visible) {
    outline: Highlight auto;
  }
}
