@import "tailwindcss";

@theme {
  /* RESET TAILWIND DEFAULTS */
  --color-*: initial;
  --default-font-*: initial;
  --default-mono-*: initial;

  --text-*: initial;
  /* --radius-*: initial; */
  /* --leading-*: initial; */

  --drop-*: initial;
  --shadow-*: initial;
  --inset-*: initial;
  --inset-shadow-*: initial;
  --animate-*: initial;
  --blur-*: initial;
  --ease-*: initial;
  --perspective-*: initial;
  --default-transition-*: initial;
  --container-*: initial;
  --tracking-*: initial;
  --aspect-video-*: initial;

  --color-accent: #FFE3E3;
  --color-accent-dark: #D85B5B;
  --color-black: #2B2B2B;
  --color-white: #FFFAFA;

  --font-serif: 'Cormorant Garamond';
  --font-sans: 'DMSans';
  --font-mono: initial;

  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 900px;
  --breakpoint-xl: 1300px;
  --breakpoint-2xl: 1536px;

  --text-base: clamp(1.3rem, 1.2vw, 1.45rem);
  --text-bg: clamp(1.3rem, 1.2vw, 1.45rem);
  --text-lg: clamp(1.5rem, 2vw, 1.9rem);
  --text-xl: clamp(1.8rem, 2vw, 2.3rem);
  --text-xl-line-height: 1.3;
  --text-2xl: clamp(2rem, 3vw, 3rem);
  --text-2xl-line-height: 1.1;
  --text-3xl: clamp(2.5rem, 3vw, 3.5rem);
  --text-3xl-line-height: 1.1;
  --text-4xl: clamp(3rem, 4vw, 4.5rem);
  --text-4xl--line-height: 1.1;

  /* used for padding on mobile items
  important for elements that are 
  placed at the corner of phones */
  --spacing-inset: 1.25rem;
  --spacing-outer-span: 1500px;
  --spacing-inner-span: 1350px;
}

:root {
  background: var(--color-white);
  color: var(--color-black);
}

.contain-paint {
  contain: paint;
}


@font-face {
  font-family: 'DMSans';
  src: url('/fonts/dm-sans/DMSans-VariableFont_opsz,wght.woff2');
  font-style: normal;
}

@font-face {
  font-family: 'DMSans';
  src: url('/fonts/dm-sans/DMSans-Italic-VariableFont_opsz,wght.woff2');
  font-style: italic;
}

@font-face {
  font-family: 'Cormorant Garamond';
  src: url('/fonts/garamond/CormorantGaramond-Bold.woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Cormorant Garamond';
  src: url('/fonts/garamond/CormorantGaramond-BoldItalic.woff2');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Cormorant Garamond';
  src: url('/fonts/garamond/CormorantGaramond-Medium.woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Cormorant Garamond';
  src: url('/fonts/garamond/CormorantGaramond-MediumItalic.woff2');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Cormorant Garamond';
  src: url('/fonts/garamond/CormorantGaramond-SemiBold.woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Cormorant Garamond';
  src: url('/fonts/garamond/CormorantGaramond-SemiBoldItalic.woff2');
  font-weight: 600;
  font-style: italic;
}
