@import "tailwindcss";

@theme {
  /* RESET TAILWIND DEFAULTS */
  --color-*: initial;
  --default-font-*: initial;
  --default-mono-*: initial;

  --text-*: initial;
  --radius-*: initial;
  --leading-*: initial;
  --container-*: initial;

  --drop-*: initial;
  --shadow-*: initial;
  --inset-*: initial;
  --animate-*: initial;
  --blur-*: initial;
  --ease-*: initial;
  --perspective-*: initial;
  --default-transition-*: initial;
  --tracking-*: initial;
  --aspect-video-*: initial;

  --color-error: var(--color-accent-dark);
  --color-success: #245E24;
  --color-url: #5A7184;
  --color-accent: #FEE2E6;
  --color-accent-dark: #EF5277;
  --color-black: #2B2B2B;
  --color-white: #FFFAFB;
  --color-tone: #F5F5F5;
  --color-gold: #FFD0B5;

  --font-serif: var(--font-cormorant);
  --font-sans: var(--font-dm-sans);
  --font-mono: initial;

  --breakpoint-xs: 576px;
  --breakpoint-sm: 700px;
  --breakpoint-md: 900px;
  --breakpoint-lg: 1150px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1430px;

  --spacing-inset: 0.9rem;
  --spacing-inner: var(--breakpoint-xl);
  --spacing-outer: var(--breakpoint-2xl);
  --spacing-middle: calc(var(--spacing-inner) + (var(--spacing-outer) - var(--spacing-inner)) / 2);
  --right-hero-offset: calc((100vw - var(--spacing-outer))/ 2 + var(--spacing-outer) - var(--spacing-inner));
  --review-diff: max(calc((100vw - var(--spacing-inner)) / 2 + var(--spacing-inset)), 0px);

  --radius-sm: 5px;
  --radius-lg: .5rem;

  --text-base: 1.2rem;
  --text-base--line-height: 1.7;
  --text-md: 1.45rem;
  --text-md--line-height: 1.7;
  --text-bg: 1.65rem;
  --text-bg--line-height: 1.6;
  --text-lg: 1.9rem;
  --text-lg--line-height: 1.6;
  --text-xl: 2.1rem;
  --text-xl--line-height: 1.0;
  --text-2xl: 2.2rem;
  --text-2xl--line-height: 1.0;
  --text-3xl: 2.8rem;
  --text-3xl--line-height: 1.0;
  --text-4xl: 3.3rem;
  --text-4xl--line-height: 1.1;
  --text-5xl: 3.8rem;
  --text-5xl--line-height: 1.0;
  --text-6xl: 4.4rem;
  --text-6xl--line-height: 1.0;
}

:root {
  background: var(--color-white);
  color: var(--color-black);
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -webkit-tap-highlight-color: transparent;
  /* scroll-behavior: smooth; */
}

/* sleepy W3C */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 1000px var(--color-white) inset;
  box-shadow: 0 0 0 1000px var(--color-white) inset;
  -webkit-text-fill-color: var(--color-black);
}

@layer base {
  button {
    text-align: left;
    display: table;
    width: auto;
  }

  a {
    display: table;
  }
}

@supports (-webkit-appearance: none) {
  .w3c-focus:focus-within:has(:focus-visible) {
    outline: -webkit-focus-ring-color auto;
  }
}

@supports (-moz-appearance: none) {
  .w3c-focus:focus-within:has(:focus-visible) {
    outline: Highlight auto;
  }
}
