@import "tailwindcss";

@theme {
  /* RESET TAILWIND DEFAULTS */
  --color-*: initial;
  --default-font-*: initial;
  --default-mono-*: initial;

  --text-*: initial;
  --radius-*: initial;
  --leading-*: initial;
  --container-*: initial;

  --drop-*: initial;
  --shadow-*: initial;
  --inset-*: initial;
  --animate-*: initial;
  --blur-*: initial;
  --ease-*: initial;
  --perspective-*: initial;
  --default-transition-*: initial;
  --tracking-*: initial;
  --aspect-video-*: initial;

  --color-accent: #FFE3E3;
  --color-accent-dark: #D85B5B;
  --color-black: #2B2B2B;
  --color-white: #FFFAFA;
  --color-tone: #F5F5F5;

  --font-serif: 'Cormorant Garamond', 'Times New Roman', serif;
  --font-sans: 'DMSans', 'Arial', 'Helvetica', sans-serif;
  --font-mono: initial;

  --breakpoint-sm: 750px;
  --breakpoint-md: 800px;
  --breakpoint-lg: 900px;
  --breakpoint-xl: 1300px;
  --breakpoint-2xl: 1536px;

  --radius-xs: .125rem;
  --radius-sm: .25rem;
  --radius-md: .375rem;
  --radius-lg: .5rem;
  --radius-xl: .75rem;

  --text-sm: clamp(0.9rem, 2.1vw, 1.2rem);
  --text-base: clamp(1.1rem, 2.1vw, 1.45rem);
  --text-bg: clamp(1.1rem, 2vw, 1.45rem);
  --text-lg: clamp(1.3rem, 2.5vw, 1.9rem);
  --text-xl: clamp(1.6rem, 4vw, 2.3rem);
  --text-xl--line-height: 1.2;
  --text-2xl: clamp(2.0rem, 4vw, 3rem);
  --text-2xl--line-height: 1.05;
  --text-3xl: clamp(2.3rem, 6vw, 3.5rem);
  --text-3xl--line-height: 1.2;
  --text-4xl: clamp(2.3rem, 4vw, 3.8rem);
  --text-4xl--line-height: 1.2;

  --spacing-inset: 0.9rem;
  --spacing-inner: 1300px;
  --spacing-outer: 1450px;
  --spacing-inner-diff: max(calc((100vw - var(--spacing-inner)) / 2 - var(--spacing-inset) * 2), 0px);
  --right-hero-offset: calc((100vw - var(--spacing-outer))/ 2 + var(--spacing-outer) - var(--spacing-inner));
  --right-span: calc(var(--spacing-outer) - ((var(--spacing-outer) - var(--spacing-inner))) + var(--spacing-inset) * 2);
}

:root {
  background: var(--color-white);
  color: var(--color-black);
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -webkit-tap-highlight-color: transparent;
}

.contain-paint {
  contain: paint;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

@font-face {
  font-family: 'DMSans';
  src: url('/fonts/dm-sans/DMSans-VariableFont_opsz,wght.woff2');
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: 'DMSans';
  src: url('/fonts/dm-sans/DMSans-Italic-VariableFont_opsz,wght.woff2');
  font-display: fallback;
  font-style: italic;
}

@font-face {
  font-family: 'Cormorant Garamond';
  src: url('/fonts/garamond/CormorantGaramond-Bold.woff2');
  font-display: fallback;
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Cormorant Garamond';
  src: url('/fonts/garamond/CormorantGaramond-BoldItalic.woff2');
  font-weight: 700;
  font-display: fallback;
  font-style: italic;
}

@font-face {
  font-family: 'Cormorant Garamond';
  src: url('/fonts/garamond/CormorantGaramond-Medium.woff2');
  font-weight: 500;
  font-display: fallback;
  font-style: normal;
}

@font-face {
  font-family: 'Cormorant Garamond';
  src: url('/fonts/garamond/CormorantGaramond-MediumItalic.woff2');
  font-weight: 500;
  font-display: fallback;
  font-style: italic;
}

@font-face {
  font-family: 'Cormorant Garamond';
  src: url('/fonts/garamond/CormorantGaramond-SemiBold.woff2');
  font-weight: 600;
  font-display: fallback;
  font-style: normal;
}

@font-face {
  font-family: 'Cormorant Garamond';
  src: url('/fonts/garamond/CormorantGaramond-SemiBoldItalic.woff2');
  font-weight: 600;
  font-display: fallback;
  font-style: italic;
}
