@import 'tailwindcss';

@layer components {
	.heading-9xl {
		@apply font-serif text-5xl text-balance sm:text-9xl;
	}

	.heading-7xl,
	.prose h1 {
		@apply font-serif text-4xl text-balance sm:text-5xl xl:text-6xl 2xl:text-7xl;
	}

	.heading-5xl,
	.prose h2 {
		@apply font-serif text-4xl text-balance md:text-5xl xl:text-6xl;
	}

	.desc-base,
	.prose p,
	.prose li {
		@apply md:text-md font-sans text-base;
		color: var(--color-desc);
	}

	.heading-4xl,
	.prose h3 {
		@apply font-serif text-4xl text-balance xl:text-5xl;
	}

	.prose h4 {
		@apply font-serif text-3xl text-balance xl:text-4xl;
	}

	.prose h2,
	.prose h3,
	.prose h4,
	.prose h5,
	.prose h6 {
		@apply mt-9 font-semibold first:mt-0;
	}

	.prose a {
		@apply text-url;
	}

	.prose {
		@apply max-w-[100ch] space-y-2;
	}

	.prose ul,
	.prose ol {
		@apply my-4 ml-8 space-y-2;
	}

	.prose ul li::marker {
		color: #d1d5db;
	}

	.prose ul li,
	.prose ol li {
		@apply pl-3;
	}

	.prose ul {
		list-style-type: disc;
	}

	.prose ol {
		list-style-type: decimal;
	}
}

@theme {
	/* RESET TAILWIND DEFAULTS */
	--color-*: initial;

	--color-error: var(--color-accent-dark);
	--color-success: #245e24;
	--color-url: #6351e8;
	--color-accent: #ffebee;
	--color-accent-dark: #f25c7d;
	--color-black: #111827;
	--color-desc: #374151;
	--color-white: #fffafb;
	--color-tone: #f5f5f5;
	--color-gold: #fce1c2;

	--font-serif: var(--font-cormorant);
	--font-sans: var(--font-dm-sans);
	--font-mono: initial;

	--spacing-inset: 0.9rem;
	--spacing-inner: var(--breakpoint-xl);
	--spacing-outer: var(--breakpoint-2xl);
	--spacing-diff: calc((var(--breakpoint-2xl) - var(--breakpoint-xl)) / 2);
	--right-hero-offset: calc(
		(100vw - var(--spacing-outer)) / 2 + var(--spacing-outer) - var(--spacing-inner)
	);

	--radius-sm: 7px;
	--radius-md: 9px;
	--radius-lg: 1.25rem;
	--radius-xl: 2rem;

	--text-base: 1.2rem;
	--text-md: 1.35rem;
	--text-md--line-height: 1.7;

	/* --breakpoint-xs: 576px; */
	/* --breakpoint-sm: 750px; */
	/* --breakpoint-md: 900px; */
	/* --breakpoint-lg: 1150px; */
	/* --breakpoint-xl: 1320px; */
	/* --breakpoint-2xl: 1480px; */
	--animate-expand: expand 400ms cubic-bezier(0.32, 0.72, 0, 0.75);
	--animate-collapse: collapse 400ms cubic-bezier(0.32, 0.72, 0, 0.75);
	--animate-caret-blink: caret-blink 1.25s ease-out infinite;
	--animate-in: enter 150ms ease;
	--animate-out: exit 150ms ease;

	@keyframes expand {
		0% {
			height: 0px;
		}
		100% {
			height: var(--corvu-disclosure-content-height);
		}
	}

	@keyframes collapse {
		0% {
			height: var(--corvu-disclosure-content-height);
		}
		100% {
			height: 0px;
		}
	}

	@keyframes caret-blink {
		0%,
		70%,
		100% {
			opacity: 0;
		}
		20%,
		50% {
			opacity: 1;
		}
	}

	@keyframes enter {
		from {
			opacity: var(--tw-enter-opacity, 1);
			transform: translate3d(var(--tw-enter-translate-x, 0), var(--tw-enter-translate-y, 0), 0)
				scale3d(var(--tw-enter-scale, 1), var(--tw-enter-scale, 1), var(--tw-enter-scale, 1));
		}
	}

	@keyframes exit {
		to {
			opacity: var(--tw-exit-opacity, 1);
			transform: translate3d(var(--tw-exit-translate-x, 0), var(--tw-exit-translate-y, 0), 0)
				scale3d(var(--tw-exit-scale, 1), var(--tw-exit-scale, 1), var(--tw-exit-scale, 1));
		}
	}
}

@utility scrollbar-thin {
	scrollbar-width: thin;
}

@utility fade-in-* {
	--tw-enter-opacity: --value(percentage, ratio);
}
@utility fade-out-* {
	--tw-exit-opacity: --value(percentage, ratio);
}

@utility zoom-in-* {
	--tw-enter-scale: --value(percentage, ratio);
}
@utility zoom-out-* {
	--tw-exit-scale: --value(percentage, ratio);
}

@utility slide-in-from-top-* {
	--tw-enter-translate-y: calc(--value(percentage) * -1);
	--tw-enter-translate-y: calc(--value(ratio) * -100%);
	--tw-enter-translate-y: calc(--value(integer) * var(--spacing) * -1);
}
@utility slide-in-from-bottom-* {
	--tw-enter-translate-y: --value(percentage);
	--tw-enter-translate-y: calc(--value(ratio) * 100%);
	--tw-enter-translate-y: calc(--value(integer) * var(--spacing));
}
@utility slide-in-from-left-* {
	--tw-enter-translate-x: calc(--value(percentage) * -1);
	--tw-enter-translate-x: calc(--value(ratio) * -100%);
	--tw-enter-translate-x: calc(--value(integer) * var(--spacing) * -1);
}
@utility slide-in-from-right-* {
	--tw-enter-translate-x: --value(percentage);
	--tw-enter-translate-x: calc(--value(ratio) * 100%);
	--tw-enter-translate-x: calc(--value(integer) * var(--spacing));
}

@utility slide-out-to-top-* {
	--tw-exit-translate-y: calc(--value(percentage) * -1);
	--tw-exit-translate-y: calc(--value(ratio) * -100%);
	--tw-exit-translate-y: calc(--value(integer) * var(--spacing) * -1);
}
@utility slide-out-to-bottom-* {
	--tw-exit-translate-y: --value(percentage);
	--tw-exit-translate-y: calc(--value(ratio) * 100%);
	--tw-exit-translate-y: calc(--value(integer) * var(--spacing));
}
@utility slide-out-to-left-* {
	--tw-exit-translate-x: calc(--value(percentage) * -1);
	--tw-exit-translate-x: calc(--value(ratio) * -100%);
	--tw-exit-translate-x: calc(--value(integer) * var(--spacing) * -1);
}
@utility slide-out-to-right-* {
	--tw-exit-translate-x: --value(percentage);
	--tw-exit-translate-x: calc(--value(ratio) * 100%);
	--tw-exit-translate-x: calc(--value(integer) * var(--spacing));
}

:root {
	background: var(--color-white);
	color: var(--color-black);
}
[id] {
	scroll-margin-top: 50px;
}

/* sleepy W3C */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
	-webkit-box-shadow: 0 0 0 1000px var(--color-white) inset;
	box-shadow: 0 0 0 1000px var(--color-white) inset;
	-webkit-text-fill-color: var(--color-black);
}

@layer base {
	button {
		text-align: left;
		width: auto;
	}

	a {
		display: inline-block;
	}
}

@supports (-webkit-appearance: none) {
	.w3c-focus:focus-within:has(:focus-visible) {
		outline: -webkit-focus-ring-color auto;
	}
}

@supports (-moz-appearance: none) {
	.w3c-focus:focus-within:has(:focus-visible) {
		outline: Highlight auto;
	}
}
