@import "tailwindcss";

@theme {
  /* RESET TAILWIND DEFAULTS */
  --color-*: initial;
  --default-font-*: initial;
  --default-mono-*: initial;

  --text-*: initial;
  --radius-*: initial;
  --leading-*: initial;
  --container-*: initial;

  --drop-*: initial;
  --shadow-*: initial;
  --inset-*: initial;
  --animate-*: initial;
  --blur-*: initial;
  --ease-*: initial;
  --perspective-*: initial;
  --default-transition-*: initial;
  --tracking-*: initial;
  --aspect-video-*: initial;

  --color-error: var(--color-accent-dark);
  --color-success: #245E24;
  --color-url: #5A7184;
  --color-accent: #FEE2E6;
  --color-accent-dark: #EF5277;
  --color-black: #2B2B2B;
  --color-white: #FFFAFB;
  --color-tone: #F5F5F5;
  --color-gold: #FFD0B5;

  --font-serif: 'Cormorant Garamond', 'Times New Roman';
  --font-sans: 'DMSans', 'Helvetica Neue', 'Segoe UI', system-ui, sans-serif;
  --font-mono: initial;

  --breakpoint-xs: 576px;
  --breakpoint-sm: 750px;
  --breakpoint-md: 900px;
  --breakpoint-lg: 1150px;
  --breakpoint-xl: 1300px;
  --breakpoint-2xl: 1450px;

  --spacing-inset: 0.9rem;
  --spacing-inner: var(--breakpoint-xl);
  --spacing-outer: var(--breakpoint-2xl);
  --spacing-middle: calc(var(--spacing-inner) + (var(--spacing-outer) - var(--spacing-inner)) / 2 - var(--spacing-inset));
  --right-hero-offset: calc((100vw - var(--spacing-outer))/ 2 + var(--spacing-outer) - var(--spacing-inner));
  --review-diff: max(calc((100vw - var(--spacing-inner)) / 2 + var(--spacing-inset)), 0px);

  --radius-sm: 5px;
  --radius-lg: .5rem;

  --text-sm: 1.1rem;
  --text-sm--line-height: 1.56;
  --text-base: 1.2rem;
  --text-base--line-height: 1.44;
  --text-md: 1.45rem;
  --text-md--line-height: 1.44;
  --text-bg: 1.65rem;
  --text-bg--line-height: 1.44;
  --text-lg: 1.9rem;
  --text-lg--line-height: 1.44;
  --text-xl: 2.1rem;
  --text-xl--line-height: 1.1;
  --text-2xl: 2.8rem;
  --text-2xl--line-height: 1.1;
  --text-3xl: 3.3rem;
  --text-3xl--line-height: 1.1;
  --text-4xl: 3.8rem;
  --text-4xl--line-height: 1.1;
  --text-5xl: 4.4rem;
  --text-5xl--line-height: 1.0;
  --text-6xl: 5rem;
  --text-6xl--line-height: 0.7;
}

:root {
  background: var(--color-white);
  color: var(--color-black);
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -webkit-tap-highlight-color: transparent;
}

@font-face {
  font-family: 'DMSans';
  src: url('/static/fonts/dm-sans/DMSans-VariableFont_opsz,wght.woff2');
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: 'DMSans';
  src: url('/static/fonts/dm-sans/DMSans-Italic-VariableFont_opsz,wght.woff2');
  font-display: fallback;
  font-style: italic;
}

@font-face {
  font-family: 'Cormorant Garamond';
  src: url('/static/fonts/garamond/CormorantGaramond-Bold.woff2');
  font-display: fallback;
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Cormorant Garamond';
  src: url('/static/fonts/garamond/CormorantGaramond-BoldItalic.woff2');
  font-weight: 700;
  font-display: fallback;
  font-style: italic;
}

@font-face {
  font-family: 'Cormorant Garamond';
  src: url('/static/fonts/garamond/CormorantGaramond-Medium.woff2');
  font-weight: 500;
  font-display: fallback;
  font-style: normal;
}

@font-face {
  font-family: 'Cormorant Garamond';
  src: url('/static/fonts/garamond/CormorantGaramond-MediumItalic.woff2');
  font-weight: 500;
  font-display: fallback;
  font-style: italic;
}

@font-face {
  font-family: 'Cormorant Garamond';
  src: url('/static/fonts/garamond/CormorantGaramond-SemiBold.woff2');
  font-weight: 600;
  font-display: fallback;
  font-style: normal;
}

@font-face {
  font-family: 'Cormorant Garamond';
  src: url('/static/fonts/garamond/CormorantGaramond-SemiBoldItalic.woff2');
  font-weight: 600;
  font-display: fallback;
  font-style: italic;
}
