@import 'tailwindcss';

@theme {
	--color-primary: oklch(0.9768 0.0221 7.17);
	--color-primary-dark: oklch(0.9468 0.0221 7.17);
	--color-secondary: oklch(0.6882 0.1899 10.14);
	--color-white: #fffafb;
	--color-gold: oklch(0.924 0.0505 70.99);
	--color-black: var(--color-stone-950);

	--font-serif: var(--font-cormorant);
	--font-sans: var(--font-dm-sans);
	--font-mono: initial;

	--breakpoint-xl: 75rem;
	--breakpoint-2xl: 89rem;

	--spacing-inner: var(--breakpoint-xl);
	--spacing-outer: var(--breakpoint-2xl);
	--spacing-diff: calc((var(--breakpoint-2xl) - var(--breakpoint-xl)) / 2);
	--right-hero-offset: calc(
		(100vw - var(--spacing-outer)) / 2 + var(--spacing-outer) - var(--spacing-inner)
	);

	--radius-sm: 7px;
	--radius-md: 9px;
	--radius-lg: 1.25rem;
	--radius-xl: 2rem;

	--text-base: 1.15rem;
	--text-md: 1.25rem;
	--text-md--line-height: 1.7;

	--animate-expand: expand 400ms cubic-bezier(0.32, 0.72, 0, 0.75);
	--animate-collapse: collapse 400ms cubic-bezier(0.32, 0.72, 0, 0.75);
	--animate-caret-blink: caret-blink 1.25s ease-out infinite;
	--animate-in: enter 250ms ease;
	--animate-out: exit 250ms ease;

	@keyframes expand {
		0% {
			height: 0px;
		}
		100% {
			height: var(--corvu-disclosure-content-height);
		}
	}

	@keyframes collapse {
		0% {
			height: var(--corvu-disclosure-content-height);
		}
		100% {
			height: 0px;
		}
	}

	@keyframes caret-blink {
		0%,
		70%,
		100% {
			opacity: 0;
		}
		20%,
		50% {
			opacity: 1;
		}
	}

	@keyframes enter {
		from {
			opacity: var(--tw-enter-opacity, 1);
			transform: translate3d(var(--tw-enter-translate-x, 0), var(--tw-enter-translate-y, 0), 0)
				scale3d(var(--tw-enter-scale, 1), var(--tw-enter-scale, 1), var(--tw-enter-scale, 1));
		}
	}

	@keyframes exit {
		to {
			opacity: var(--tw-exit-opacity, 1);
			transform: translate3d(var(--tw-exit-translate-x, 0), var(--tw-exit-translate-y, 0), 0)
				scale3d(var(--tw-exit-scale, 1), var(--tw-exit-scale, 1), var(--tw-exit-scale, 1));
		}
	}
}

:root {
	color: var(--color-black);
	background-color: var(--color-white);
}

@layer components {
	.heading-9xl {
		@apply font-serif text-5xl font-bold text-balance sm:text-9xl;
	}

	.heading-7xl,
	.prose h1 {
		@apply font-serif text-4xl font-bold text-pretty sm:text-5xl xl:text-6xl;
	}

	.heading-5xl,
	.prose h2 {
		@apply font-serif text-4xl font-bold text-balance md:text-5xl xl:text-6xl;
	}

	.desc-base,
	.prose p,
	.prose li {
		@apply md:text-md font-sans text-base text-neutral-700;
		line-height: 1.8;
	}

	.desc-sm {
		@apply text-base text-neutral-700;
	}

	.heading-4xl,
	.prose h3 {
		@apply font-serif text-3xl font-bold text-balance xl:text-5xl;
	}

	.prose h4 {
		@apply font-serif text-3xl font-bold text-balance xl:text-4xl;
	}

	.prose h2,
	.prose h3,
	.prose h4,
	.prose h5,
	.prose h6 {
		@apply mt-9 first:mt-0;
	}

	.prose a {
	}

	.prose {
		@apply max-w-[100ch] space-y-3;
	}

	.prose ul,
	.prose ol {
		@apply my-4 ml-8 space-y-2;
	}

	.prose ul li::marker {
		color: #d1d5db;
	}

	.prose ul li,
	.prose ol li {
		@apply pl-3;
	}

	.prose ul {
		list-style-type: disc;
	}

	.prose ol {
		list-style-type: decimal;
	}
}

@utility scrollbar-thin {
	scrollbar-width: thin;
}

@utility fade-in-* {
	--tw-enter-opacity: --value(percentage, ratio);
}
@utility fade-out-* {
	--tw-exit-opacity: --value(percentage, ratio);
}

@utility zoom-in-* {
	--tw-enter-scale: --value(percentage, ratio);
}
@utility zoom-out-* {
	--tw-exit-scale: --value(percentage, ratio);
}

@utility slide-in-from-top-* {
	--tw-enter-translate-y: calc(--value(percentage) * -1);
	--tw-enter-translate-y: calc(--value(ratio) * -100%);
	--tw-enter-translate-y: calc(--value(integer) * var(--spacing) * -1);
}
@utility slide-in-from-bottom-* {
	--tw-enter-translate-y: --value(percentage);
	--tw-enter-translate-y: calc(--value(ratio) * 100%);
	--tw-enter-translate-y: calc(--value(integer) * var(--spacing));
}

@utility slide-out-to-top-* {
	--tw-exit-translate-y: calc(--value(percentage) * -1);
	--tw-exit-translate-y: calc(--value(ratio) * -100%);
	--tw-exit-translate-y: calc(--value(integer) * var(--spacing) * -1);
}
@utility slide-out-to-bottom-* {
	--tw-exit-translate-y: --value(percentage);
	--tw-exit-translate-y: calc(--value(ratio) * 100%);
	--tw-exit-translate-y: calc(--value(integer) * var(--spacing));
}

[id] {
	scroll-margin-top: 50px;
}

/* sleepy W3C */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
	-webkit-box-shadow: 0 0 0 1000px var(--color-white) inset;
	box-shadow: 0 0 0 1000px var(--color-white) inset;
	/* -webkit-text-fill-color: var(--color-text-primary); */
}

@layer base {
	button {
		text-align: left;
		width: auto;
	}

	a {
		display: inline-block;
	}
}

/* @supports (-webkit-appearance: none) { */
/* 	.w3c-focus:has(:focus-visible) { */
/* 		outline: -webkit-focus-ring-color auto; */
/* 	} */
/* } */
/* @supports (-moz-appearance: none) { */
/* 	.w3c-focus:has(:focus-visible) { */
/* 		outline: Highlight auto; */
/* 	} */
/* } */
