@import 'tailwindcss';

@layer components {
	.heading-9xl {
		@apply font-serif text-5xl text-balance sm:text-9xl;
	}

	.heading-7xl,
	.prose h1 {
		@apply font-serif text-4xl text-balance sm:text-5xl xl:text-6xl 2xl:text-7xl;
	}

	.heading-5xl,
	.prose h2 {
		@apply font-serif text-4xl text-balance md:text-5xl xl:text-6xl;
	}

	.desc-base,
	.prose p,
	.prose li {
		@apply md:text-md font-sans text-base;
		color: var(--color-desc);
	}

	.heading-4xl,
	.prose h3 {
		@apply font-serif text-balance text-4xl xl:text-5xl;
	}

	.prose h4 {
		@apply font-serif text-balance text-3xl xl:text-4xl;
	}

	.prose h2,
	.prose h3,
	.prose h4,
	.prose h5,
	.prose h6 {
		@apply mt-9 first:mt-0 font-semibold;
	}

	.prose a {
		@apply text-url;
	}

	.prose {
		@apply max-w-[100ch] space-y-2;
	}

	.prose ul,
	.prose ol {
		@apply my-4 ml-8 space-y-2;
	}

	.prose ul li::marker {
		color: #d1d5db;
	}

	.prose ul li,
	.prose ol li {
		@apply pl-3;
	}

	.prose ul {
		list-style-type: disc;
	}

	.prose ol {
		list-style-type: decimal;
	}
}

@theme {
	/* RESET TAILWIND DEFAULTS */
	--color-*: initial;

	--color-error: var(--color-accent-dark);
	--color-success: #245e24;
	--color-url: #6351e8;
	--color-accent: #ffebee;
	--color-accent-dark: #f25c7d;
	--color-black: #111827;
	--color-desc: #374151;
	--color-white: #fffafb;
	--color-tone: #f5f5f5;
	--color-gold: #fce1c2;

	--font-serif: var(--font-cormorant);
	--font-sans: var(--font-dm-sans);
	--font-mono: initial;

	/* --breakpoint-xs: 576px; */
	/* --breakpoint-sm: 750px; */
	/* --breakpoint-md: 900px; */
	/* --breakpoint-lg: 1150px; */
	/* --breakpoint-xl: 1320px; */
	/* --breakpoint-2xl: 1480px; */

	--spacing-inset: 0.9rem;
	--spacing-inner: var(--breakpoint-xl);
	--spacing-outer: var(--breakpoint-2xl);
	--spacing-diff: calc((var(--breakpoint-2xl) - var(--breakpoint-xl)) / 2);
	--right-hero-offset: calc(
		(100vw - var(--spacing-outer)) / 2 + var(--spacing-outer) - var(--spacing-inner)
	);

	--radius-sm: 7px;
	--radius-md: 9px;
	--radius-lg: 1.25rem;
	--radius-xl: 2rem;

	--text-base: 1.2rem;
	--text-md: 1.35rem;
	--text-md--line-height: 1.7;
}

:root {
	background: var(--color-white);
	color: var(--color-black);
}

/* sleepy W3C */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
	-webkit-box-shadow: 0 0 0 1000px var(--color-white) inset;
	box-shadow: 0 0 0 1000px var(--color-white) inset;
	-webkit-text-fill-color: var(--color-black);
}

@layer base {
	button {
		text-align: left;
		width: auto;
	}

	a {
		display: inline-block;
	}
}

@supports (-webkit-appearance: none) {
	.w3c-focus:focus-within:has(:focus-visible) {
		outline: -webkit-focus-ring-color auto;
	}
}

@supports (-moz-appearance: none) {
	.w3c-focus:focus-within:has(:focus-visible) {
		outline: Highlight auto;
	}
}
