---
import Markdown from "~/components/e/Markdown.astro";
import { stripHtml } from "string-strip-html";
import FaqInter from "~/components/interactable/Faq.svelte";

const { title } = Astro.props;

Astro.locals.faqData.push({
  "@type": "Question",
  name: title,
  acceptedAnswer: {
    "@type": "Answer",
    text: stripHtml(await Astro.slots.render("default")).result,
  },
});
---

<div
  class="border-accent border-t-1 py-6 first:border-t-0 first:pt-0 last:pb-0"
>
  <FaqInter client:load title={title}>
    <Markdown>
      <slot />
    </Markdown>
  </FaqInter>
</div>
