---
const { title, description } = Astro.props;
---

<button
  class="border-accent border-t-[1.5px] last:border-b-[1.5px] py-7 cursor-pointer"
  onclick="toggleFaq(this)"
>
  <div
    class="flex w-full items-center justify-between gap-4"
  >
    <h4 class="font-serif text-2xl font-semibold">{title}</h4>
    <div class="expand relative h-6 w-6 flex-shrink-0"></div>
  </div>

  <p
    class="pointer-events-none h-0 font-sans text-base select-none opacity-0 [&.active]:pointer-events-auto [&.active]:h-auto [&.active]:opacity-100 [&.active]:mt-3"
    data-safari-bad="duration-250"
  >
    {description}
  </p>
</button>

<style lang="scss">
  .expand {
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: calc(50% - 1px);
      bottom: 0;
      width: 2px;
      background-color: var(--color-black);
      transform-origin: center;
      transition: transform 250ms;
    }

    &::after {
      content: "";
      position: absolute;
      left: 0;
      top: calc(50% - 1px);
      right: 0;
      height: 2px;
      background-color: var(--color-black);
      transform-origin: center;
    }

    &.active {
      &::before {
        transform: rotateZ(90deg);
      }
    }
  }
</style>
