---
import Markdown from "~/components/e/Markdown.astro";
import { Icon } from "astro-icon/components";
const { title, materials = ["wasd"], min, max, ...slot } = Astro.props;
---

<div
  class="border-accent border-t-1 py-7 first:border-t-0 first:pt-0 last:pb-0"
  {...slot}
>
  <div class="flex w-full items-center justify-between gap-4">
    <h3 class="font-serif text-2xl font-semibold">{title}</h3>
    <div class="flex gap-3">
      <span class="text-success font-sans text-base font-semibold">{min}</span>
      <span class="font-sans text-base font-semibold">-</span>
      <span class="text-success font-sans text-base font-semibold">{max}</span>
    </div>
  </div>

  <div class="my-1">
    <Markdown><slot /></Markdown>
  </div>

  <div>
    {
      materials.map((s: string) => (
        <>
          <div class="flex gap-3 align-top">
            <Icon
              name="ph:star-four-fill"
              class="text-gold h-auto w-4 sm:w-5"
              aria-hidden="true"
            />
            <span class="font-sans text-sm">{s}</span>
          </div>
        </>
      ))
    }
  </div>
</div>
