---
const { title, description, i = 1 } = Astro.props;
---

<div>
  <div class="flex items-baseline gap-4 mb-1">
    <h3 class="text-accent-dark font-serif text-6xl font-bold">o{i}</h3>
    <h4 class="font-serif text-xl font-semibold">{title}</h4>
  </div>
  <p class="font-sans text-base">{description}</p>
</div>
