---
import { Icon } from "astro-icon/components";

const { title, description, location, stars = 5 } = Astro.props;
---

<div
  data-slider-card
  class="border-accent relative mt-6 w-fit max-w-120 min-w-0 shrink-0 rounded-sm border-[1.4px] p-7 select-none sm:ml-10 sm:p-9 xl:translate-x-(--review-diff)"
>
  <div
    class="bg-accent absolute top-0 left-10 -translate-y-1/2 rounded-sm px-4 py-2"
  >
    <span class="font-sans text-sm font-semibold">{location}</span>
  </div>

  <h4 class="mb-2 font-serif text-xl font-semibold">
    {title}
  </h4>

  <div class="mb-5 flex gap-2">
    {
      Array.from({ length: stars }, (_) => (
        <Icon name="ph:star-fill" class="text-gold w-5 sm:w-6 h-auto" />
      ))
    }
  </div>

  <p class="font-sans text-base italic">{description}</p>
</div>
