---
import { parseHTML } from "linkedom";
import { setAttrElements } from "~/lib/processHTML";

const { title, description } = Astro.props;
const { document } = parseHTML(await Astro.slots.render("image"));

setAttrElements(
  document.querySelectorAll("img"),
  "class",
  "min-w-0 object-cover h-full select-none"
);
---

<div
  data-slideshow-card
  class="gap-6 rounded-sm p-5 py-12 contain-paint sm:h-110 sm:p-0 xl:gap-7 2xl:gap-9"
>
  <div class="hidden w-1/2 sm:flex">
    <Fragment set:html={document} />
  </div>

  <div class="flex flex-1 flex-col justify-center">
    <h3 class="mb-1 font-serif text-3xl font-semibold text-balance">
      {title}
    </h3>

    <div
      class="my-2 mb-3 flex h-[50vw] max-h-70 rounded-sm contain-paint sm:hidden"
    >
      <Fragment set:html={document} />
    </div>

    <p class="font-sans text-base">{description}</p>

    <div class="mt-8 gap-3 space-y-3 sm:flex sm:space-y-0">
      <slot />
    </div>
  </div>
  <div class="hidden sm:block"></div>
</div>
