---
import type { ImageSource, Pos } from '@/schemas';
interface Props {
	id?: string;
	title: string;
	image: ImageSource;
	desc: string;
	pos: Pos;
}

const meta = Astro.props;
import { cn } from '@/frontend/utils';
import markdown from '@/build/markdown';

import Image from '@/components/Image';
---

<div
	class={cn(
		'flex flex-col sm:flex-row gap-5 sm:gap-8 xl:gap-8 2xl:gap-11',
		meta.pos === 'right' && 'sm:flex-row-reverse',
	)}
	id={meta.id}
>
	<Image
		class="order-2 h-[50vh] max-h-65 w-full sm:order-none sm:max-h-120 sm:min-h-90 sm:w-1/2"
		pos={meta.pos}
		image={meta.image}
		widths={[400, 725, 1450]}
	/>

	<div class="contents gap-3 sm:my-auto sm:flex sm:flex-1 sm:flex-col">
		<h3 class="heading-4xl order-1 sm:order-none">
			{meta.title}
		</h3>

		<p class="desc-base order-3 sm:order-none" set:html={await markdown.parseInline(meta.desc)} />

		<div class="order-4 mt-6 sm:order-none">
			<slot />
		</div>
	</div>
</div>
