---
import clsx from "clsx";

interface Props {
  title?: string;
  variant?: "outer" | "inner";
  class?: string;
  as?: any;
  children?: any;
}

const vMap = {
  outer: "max-w-outer-span",
  inner: "max-w-inner-span",
};

const {
  as = "section",
  title = "",
  variant = "outer",
  class: customClass = "",
} = Astro.props as Props;

const vc = vMap[variant];
const Tag = as;
---

<Tag as={as} class={clsx(`lg:mx-auto w-full px-inset ${vc} ${customClass}`)}>
  {
    title && title !== "" && (
      <div class={clsx(`max-w-inner-span mb-18 w-full lg:mx-auto`)}>
        <h3 class="font-serif text-3xl font-bold">{title}</h3>
      </div>
    )
  }

  <slot />
</Tag>
