---
const { title, desc } = Astro.props;
import Actions from '@/components/Actions';
---

<div class="px-inset my-20 flex flex-col items-center justify-center">
	<h1 class="heading-massive text-center">{title}</h1>
	<p class="desc-base mt-2 text-center md:mt-5">{desc}</p>

	<Actions.Link class="mt-9" href="/">Take me to the beginning</Actions.Link>
</div>
