---
const { title, desc } = Astro.props;
import Actions from '@/components/Actions';
---

<div class="my-20 flex flex-col items-center justify-center px-4">
	<h1 class="heading-9xl text-center">{title}</h1>
	<p class="desc-base mt-2 text-center md:mt-5">{desc}</p>

	<Actions.Link class="mt-9" href="/">Go to the start</Actions.Link>
</div>
