---
import type { Pos } from '@/schemas';
import Container from './Container.astro';

interface Props {
	pos: Pos;
}

const meta = Astro.props;
---

<Container
	variant="inner"
	class={[
		'flex lg:flex-row gap-6 md:gap-10 xl:gap-18',
		meta.pos == 'right' ? 'flex-col-reverse' : 'flex-col',
	]}
>
	{
		meta.pos == 'left' && (
			<>
				<div>
					<slot name="title" />
				</div>
			</>
		)
	}

	<slot />

	{
		meta.pos == 'right' && (
			<>
				<div>
					<slot name="title" />
				</div>
			</>
		)
	}
</Container>
