---
import { containerStyles } from "./styles";
import { getImage } from "astro:assets";
import Island from "./Cardshow.svelte";
import LayoutDivider from "./layout/Divider.astro";
import LayoutTitle from "./layout/Title.astro";

import { type PropsOf } from "./registry";
import { optimizeImage } from "~/build/images";
const meta = Astro.props as PropsOf<"Cardshow">;

for (let card of meta.content) {
  if (card.media.type == "image")
    card.media.meta = await optimizeImage(card.media.meta);
  else if (card.media.type == "video") {
    let img = await getImage({
      src: card.media.poster,
    });

    card.media.poster = img.src;
  }
}
---

<LayoutDivider id={meta.id}>
  <LayoutTitle title={meta.title} pos={meta.pos} />

  <div class={containerStyles({ width: "outer" })}>
    <div
      class="max-w-middle flex flex-col gap-4 md:gap-6 2xl:ml-auto 2xl:flex-row"
    >
      <Island meta={meta.content} client:visible />
    </div>
  </div>
</LayoutDivider>
