---
import { container } from "./meta";
import Island from "./Cardshow.svelte";
import Title from "./Title.astro";

import { type PropsOf } from "./registry";
import { optimizeImage } from "~/build/images";
const meta = Astro.props as PropsOf<"Cardshow">;
const pos = Astro.locals.getNextPos();

for (let card of meta.cards) {
  if (card.image) card.image.meta = await optimizeImage(card.image.meta);
}
---

<section class={container({ intent: "div" })} id={meta.id}>
  <Title title={meta.title} {pos} />

  <div class={container({ intent: "outer" })}>
    <div
      class="max-w-middle flex flex-col gap-4 md:gap-6 2xl:ml-auto 2xl:flex-row"
    >
      <Island meta={meta.cards} client:visible />
    </div>
  </div>
</section>
