---
import { container } from "./meta";
import Island from "./Cardshow.svelte";
import Title from "./Title.astro";

import { optimizeImage } from "~/build/images";

import { type PropsOf } from "./registry";
const meta = Astro.props as PropsOf<"Cardshow">;
const pos = Astro.locals.getNextPos();

for (const card of meta.cards) {
  card.image = await optimizeImage(card.image);
}
---

<section class={container({ intent: "div" })} id={meta.id}>
  <Title title={meta.title} {pos} />

  <div class={container({ intent: "outer" })}>
    <div
      class="max-w-middle flex flex-col gap-4 md:gap-6 2xl:ml-auto 2xl:flex-row"
    >
      <Island meta={meta.cards} client:visible />
    </div>
  </div>
</section>
