---
import { container, Pos } from "@sections/meta";
import { Cardshow as Meta } from "@/meta";
import Island from "./Cardshow.svelte";
import Title from "./Title.astro";

import { optimizeImage } from "@build/images";
import { type ImageSource } from "@build/meta";

interface Props {
  meta: Meta;
  pos: Pos;
}

const { meta, pos = Astro.locals.getNextPos() } = Astro.props;

for (const card of meta.cards) {
  if (card.image) {
    card.image = await optimizeImage(card.image as ImageSource);
  }
}
---

<section class={container({ intent: "div" })} id={meta.id}>
  <Title title={meta.title} {pos} />

  <div class={container({ intent: "outer" })}>
    <div
      class="max-w-middle flex flex-col gap-4 md:gap-6 2xl:ml-auto 2xl:flex-row"
    >
      <Island meta={meta.cards} client:visible />
    </div>
  </div>
</section>
