---
import Container, { ContainerVariant } from "~/components/div/Container.astro";
import ContainerTitle from "~/components/div/ContainerTitle.astro";

const { title, variant = Astro.locals.getNextPos(), ...slot } = Astro.props;
---

<Container variant={ContainerVariant.Inner} {...slot}>
  <ContainerTitle titlePos={variant} title={title} />
  <div class="flex flex-col">
    <slot />
  </div>
</Container>
