---
import type { SchemaOf } from 'astro-frontmatter-components';
import { type SchemaContext, z } from 'astro:content';
import { DefaultPos } from '@/schemas';

export const schema = (_: SchemaContext) => ({
	id: z.string().optional(),
	pos: DefaultPos,
	title: z.string(),
	content: z.array(
		z.object({
			title: z.string(),
			desc: z.string(),
		}),
	),
});

import LayoutDivider from './layout/Divider.astro';
import LayoutTitle from './layout/Title.astro';
import { containerStyles } from './styles';

import Island from './Faq';
import { marked } from 'marked';

export type Props = SchemaOf<typeof schema>;
const meta = Astro.props;

for (const faq of meta.content) {
	faq.desc = marked.parse(faq.desc) as string;
}
---

<LayoutDivider>
	<LayoutTitle title={meta.title} pos={meta.pos} />

	<div class={containerStyles({ width: 'inner' })}>
		<!-- client:visible -->
		<!-- <Island meta={meta.content} /> -->
	</div>
</LayoutDivider>
