---
import { containerStyles } from "./styles";
import Island from "./Hero.svelte";

import type { PropsOf } from "./registry";
import { optimizeImage } from "~/build/images";
const meta = Astro.props as PropsOf<"Hero">;

for (let image of meta.content) {
  image.meta = await optimizeImage(image.meta);
}
---

<main
  class="relative flex min-h-[clamp(10rem,100svh,50rem)] overflow-x-clip sm:min-h-[clamp(10rem,100svh,90rem)]"
  id={meta.id}
>
  <span
    class="bg-accent absolute right-0 z-[-1] h-full w-1/4 rounded-bl-lg sm:left-0 sm:block sm:rounded-br-lg xl:w-(--right-hero-offset)"
  >
  </span>

  <div class={`${containerStyles({ width: "outer", center: "both" })}`}>
    <Island client:load {meta} />
  </div>
</main>
