---
import { optimizeImages } from "~/build/images";
import type { ImageSource } from "~/build/meta";
import { container } from "./meta.ts";
import Island from "./Hero.svelte";
import { type Hero as Meta } from "@/meta";

interface Props {
  meta: Meta;
}

const { meta } = Astro.props;
meta.images = await optimizeImages(meta.images as ImageSource[]);
---

<main
  class="relative flex min-h-[clamp(10rem,100svh,50rem)] overflow-x-clip sm:min-h-[clamp(10rem,100svh,90rem)]"
  id={meta.id}
>
  <div
    class="bg-accent absolute z-[-1] hidden h-full w-[25.7%] rounded-br-sm sm:block xl:w-(--right-hero-offset)"
  >
  </div>

  <div
    class={`${container({ intent: "outer" })} flex w-full items-center gap-6 xl:gap-8 py-15 2xl:gap-11`}
  >
    <Island client:visible {meta} />
  </div>
</main>
