---
import { containerStyles } from "./styles";
import Island from "./Hero.svelte";

import type { PropsOf } from "./registry";
import { optimizeImage } from "~/build/images";
const meta = Astro.props as PropsOf<"Hero">;
for (let image of meta.content) {
  image.meta = await optimizeImage(image.meta);
}

---

<main
  class="relative flex min-h-[clamp(10rem,100svh,50rem)] overflow-x-clip sm:min-h-[clamp(10rem,100svh,90rem)]"
  id={meta.id}
>
  <div
    class="bg-accent absolute z-[-1] hidden h-full w-[25.7%] rounded-br-sm sm:block xl:w-(--right-hero-offset)"
  >
  </div>

  <div
    class={`${containerStyles({ width: "outer" })} flex w-full items-center gap-6 xl:gap-8 py-17 sm:py-30 2xl:gap-11`}
  >
    <Island client:visible {meta} />
  </div>
</main>
