---
import { Slideshow } from "@/index";
import { optimizeImages } from "@build/images";

const {
  title,
  description,
  images: rawImages,
}: {
  title: string;
  description: string;
  images: any[];
} = Astro.props;

let images = await optimizeImages(rawImages);
---

<main
  class="relative flex h-svh max-h-200 min-h-160 overflow-x-clip sm:max-h-350 sm:min-h-210"
>
  <div
    class="bg-accent absolute z-[-1] hidden h-full w-1/4 rounded-br-sm sm:block xl:w-(--right-hero-offset)"
  >
  </div>

  <div
    class="2xl:max-w-outer px-inset flex w-full items-center gap-6 pt-15 sm:py-0 xl:gap-7 2xl:mx-auto 2xl:gap-9"
  >
    <div class="relative hidden flex-1 sm:flex">
      <Slideshow
        class="flex h-[65vh] max-h-175 min-h-130 justify-evenly rounded-sm contain-paint"
        client:visible
        meta={{
          active: "w-full",
          hidden: "w-0",
          base: "duration-300",
          images,
        }}
      />
    </div>

    <div class="relative flex-1">
      <h1 class="mb-2 font-serif text-5xl font-bold text-balance">
        {title}
      </h1>

      <p class="font-sans text-base">
        {description}
      </p>

      <div class="mt-8 pb-17"></div>
    </div>
  </div>
</main>
