---
import { optimizeImages } from "@build/images";
import Island from "./Hero.svelte";
import { container } from "@sections/meta.ts";

const {
  title,
  description,
  images: rawImages,
}: {
  title: string;
  description: string;
  images: any[];
} = Astro.props;

let images = await optimizeImages(rawImages);
---

<main
  class="relative flex min-h-[clamp(10rem,100svh,50rem)] overflow-x-clip sm:min-h-[clamp(10rem,100svh,90rem)]"
>
  <div
    class="bg-accent absolute z-[-1] hidden h-full w-[25.7%] rounded-br-sm sm:block xl:w-(--right-hero-offset)"
  >
  </div>

    <div class={`${container()} flex w-full items-center gap-6 xl:gap-8 py-15 2xl:gap-11`}>
    <Island client:visible {title} {description} {images} />
  </div>
</main>
