---
import { parseHTML } from "linkedom";
import { setAttrElements } from "~/util/processHTML";

import Container, { ContainerVariant } from "~/components/div/Container.astro";
import ContainerTitle from "~/components/div/ContainerTitle.astro";
import { Pos } from "~/components/variants.ts";

const { title, variant = Pos.Left, speed = 0.4, ...slot} = Astro.props;

const html = await Astro.slots.render("default");
const { document } = parseHTML(html);

const images = document.querySelectorAll("img");

setAttrElements(
  images,
  "class",
  `max-w-[70vw] !w-120 rounded-sm object-cover`,
);

---

<Container class="contain-paint overflow-clip h-150 xl:h-200" variant={ContainerVariant.Max} {...slot}>
  <ContainerTitle variant={variant} title={title} />
  <div
    class="flex cursor-grab gap-6 select-none"
    data-carousel
    data-carousel-speed={0.5}
    data-carousel-moveable
  >
    <Fragment set:html={document} />
  </div>
</Container>
