---
import { containerStyles } from './styles';
import { marked } from 'marked';
import LayoutDivider from './layout/Divider.astro';
import LayoutTitle from './layout/Title.astro';
import Island from './Reviews.svelte';

import { type PropsOf } from './registry';
const meta = Astro.props as PropsOf<'Reviews'>;

for (const [_, review] of meta.content.entries()) {
	review.desc = marked.parseInline(review.desc) as string;
}
---

<LayoutDivider id={meta.id}>
	<LayoutTitle title={meta.title} pos={meta.pos} />
	<div class="contain-paint">
		<div class=`${containerStyles({ width: "inner" })} select-none`>
			<Island client:visible meta={meta.content} />
		</div>
	</div>
</LayoutDivider>
