---
import { container } from "./meta";
import { marked } from "marked";
import Title from "./Title.astro";
import Island from "./Review.svelte";

import { type PropsOf } from "./registry";
const meta = Astro.props as PropsOf<"Review">;

const pos = Astro.locals.getNextPos();
const reviews = meta.reviews.map((review) => ({
  ...review,
  markdown: marked.parseInline(review.markdown),
}));
---

<section class={container({ intent: "div" })} id={meta.id}>
  <Title title={meta.title} {pos} />
  <div class="contain-paint">
    <div class=`${container({ intent: "inner" })} select-none`>
      <Island client:visible meta={reviews} />
    </div>
  </div>
</section>
