---
import Star from "~/assets/star.svg";
const {
  text = [
    "Made with love",
    "No scrape of dust left",
    "Absolutely revelatory",
    "Expert opinions",
  ],
  speed,
  ...slot
} = Astro.props;
---

<div class="py-inset border-accent border-y-[1.4px] contain-paint" {...slot}>
  <div
    data-carousel
    data-carousel-speed={speed}
    class="flex h-18 items-center gap-12 md:h-20 md:gap-20 lg:gap-25 xl:h-25"
  >
    {
      text.map((text: string) => (
        <h5 class="flex-shrink-0 font-serif text-3xl">{text}</h5>
        <Star class="flex-shrink-0 w-8 h-8" />
      ))
    }
  </div>
</div>
