---
import { container, heading, Pos } from "./meta";
import clsx from "clsx";

interface Props {
  title: string;
  pos: Pos;
}

let { title, pos } = Astro.props;
---

<div class={clsx(container({ intent: "inner" }), "mb-16")}>
  <h2
    class={clsx(
      heading({ intent: "5xl" }),
      pos == "right"
        ? "sm:ml-auto sm:max-w-[20ch] w-fit"
        : "sm:max-w-[20ch]",
    )}
  >
    {title}
  </h2>
</div>
