---
import Layout from '@/layouts/Layout.astro';
import Footer from '@/sections/Footer.astro';
import Home from '@/components/Home.astro';
import Container from '@/sections/layout/Container.astro';

import { Content, frontmatter } from '#/privacy.md';
---

<Layout title={frontmatter?.title} desc={frontmatter?.desc}>
	<Container variant="inner" class="mt-20">
		<Home class="mb-2" />
		<h1 class="heading-massive pointer-events-none mb-9 select-none">
			{frontmatter?.title}
		</h1>

		<div class="prose">
			<Content />
		</div>
	</Container>

	<Footer />
</Layout>
