---
import Root from '@/layouts/Root.astro';
import Home from '@/components/Home';
import * as Layout from '@/components/Layout';

import { Content, frontmatter } from '#/privacy.md';
---

<Root title={frontmatter?.title} desc={frontmatter?.desc}>
	<Layout.Container variant="inner" class="mt-20">
		<Home class="mb-3 xl:mb-6" />
		<h1 class="heading-9xl mb-9">
			{frontmatter?.title}
		</h1>

		<div class="prose">
			<Content />
		</div>
	</Layout.Container>
</Root>
