---
import { type Pos } from "../styles";
import clsx from "clsx";
import { imageWrapperStyles } from "../styles";

interface Props {
  id?: string;
  title: string;
  desc: string;
  pos: Pos;
}

const meta = Astro.props;

import { marked } from "marked";
---

<div class="items-center gap-6 sm:flex xl:gap-8 2xl:gap-11" id={meta.id}>
  {
    meta.pos === "left" && (
      <div
        class={imageWrapperStyles({
          pos: "left",
          size: "desktop",
          display: "md",
        })}
      >
        <slot name="image" />
      </div>
    )
  }

  <div class="flex-1">
    <h3
      class={clsx(
        "mb-2 heading-4xl font-semibold",
        meta.pos == "right" && "text-right sm:text-left",
      )}
    >
      {meta.title}
    </h3>

    {
      meta.pos === "right" && (
        <div
          class={imageWrapperStyles({
            pos: "right",
            size: "mobile",
            display: "sm",
          })}
        >
          <slot name="image" />
        </div>
      )
    }

    {
      meta.pos === "left" && (
        <div
          class={imageWrapperStyles({
            pos: "left",
            size: "mobile",
            display: "sm",
          })}
        >
          <slot name="image" />
        </div>
      )
    }

    <p class="desc-base">{marked.parseInline(meta.desc)}</p>

    <slot />
  </div>

  {
    meta.pos === "right" && (
      <div
        class={imageWrapperStyles({
          pos: "right",
          size: "desktop",
          display: "md",
        })}
      >
        <slot name="image" />
      </div>
    )
  }
</div>
