---
import { type Pos } from "../pos";
import clsx from "clsx";
import { imageWrapperStyles, headingStyles, descStyles } from "../styles";

interface Props {
  id?: string;
  title: string;
  desc: string;
  pos: Pos;
}

const meta = Astro.props;

import { marked } from "marked";
---

<div
  class="items-center gap-6 sm:flex xl:gap-8 2xl:gap-11"
  id={meta.id}
>
  {
    meta.pos === "left" && (
      <div
        class={imageWrapperStyles({
          pos: "left",
          size: "desktop",
          display: "md",
        })}
      >
        <slot name="image" />
      </div>
    )
  }

  <div class="flex-1">
    <h3
      class={clsx(
        "mb-2",
        meta.pos == "right" && "text-right sm:text-left",
        headingStyles({ size: "4xl" }),
      )}
    >
      {meta.title}
    </h3>

    {
      meta.pos === "right" && (
        <div
          class={imageWrapperStyles({
            pos: "right",
            size: "mobile",
            display: "sm",
          })}
        >
          <slot name="image" />
        </div>
      )
    }

    {
      meta.pos === "left" && (
        <div
          class={imageWrapperStyles({
            pos: "left",
            size: "mobile",
            display: "sm",
          })}
        >
          <slot name="image" />
        </div>
      )
    }

    <p class={descStyles({ size: "base" })}>{marked.parseInline(meta.desc)}</p>

    <div class="mt-8">
      <slot />
    </div>
  </div>

  {
    meta.pos === "right" && (
      <div
        class={imageWrapperStyles({
          pos: "right",
          size: "desktop",
          display: "md",
        })}
      >
        <slot name="image" />
      </div>
    )
  }
</div>
