---
import { containerStyles, headingStyles } from "@sections/styles";
import { type Pos } from "@sections/styles";
import clsx from "clsx";

interface Props {
  title: string;
  pos: Pos;
  class?: string;
}

let { title, pos, class: className } = Astro.props;
---

<div class={clsx(containerStyles({ width: "inner" }), "mb-7 sm:mb-12", className)}>
  <slot name="before" />

  <h2
    class={clsx(
      headingStyles({ size: "5xl" }),
      "sm:max-w-[20ch]",
      pos == "right" ? "sm:ml-auto sm:text-right" : "",
    )}
  >
    {title}
  </h2>

  <slot />
</div>
