---
interface Props {
  variant?: "outer" | "inner";
  class?: string;
  children?: any;
}

const vMap = {
  outer: "lg:w-[var(--outer-span-width)]",
  inner: "lg:w-[var(--span-width)]",
};

const { variant = "inner", class: customClass = "" } = Astro.props as Props;
const vc = vMap[variant];
---

<div class={`m-auto py-0 px-3 box-content ${vc} ${customClass}`}>
  <slot />
</div>
