---
import Container from "./layout/Container.astro";
import SlideImages from "./SlideImages.astro";
import Link from "./nav/Link.astro";
import SlideBtn from "./nav/SlideBtn.astro";

const { title, description } = Astro.props;
---

<main
  class="relative pt-23 pb-35 sm:flex sm:h-svh sm:max-h-350 sm:min-h-210 sm:py-0"
>
  <div
    class="bg-accent absolute z-[-1] hidden h-full w-[calc(var(--spacing-kms))] rounded-br-xl md:block"
  >
  </div>
  <Container as="div" class="flex items-center gap-6 xl:gap-7 2xl:gap-9">
    <div class="hidden flex-col gap-5 xl:flex">
      <SlideBtn />
      <SlideBtn />
      <SlideBtn />
      <SlideBtn />
    </div>

    <div class="relative hidden w-[55%] sm:block xl:w-1/2">
      <SlideImages
        class="h-[60vh] max-h-175 min-h-130 w-full rounded-md contain-paint"
      >
        <slot />
      </SlideImages>
      <div class="mt-inset flex justify-center gap-5 xl:hidden">
        <SlideBtn />
        <SlideBtn />
        <SlideBtn />
        <SlideBtn />
      </div>
    </div>

    <div class="flex-1">
      <h2 class="font-serif text-4xl font-bold text-balance">
        {title}
      </h2>

      <div class="mt-4 sm:hidden">
        <div class="flex">
          <SlideImages
            class="-ml-inset relative h-70 flex-1 rounded-tr-md rounded-br-md contain-paint"
          >
            <slot />
          </SlideImages>

          <div class="ml-inset flex flex-col justify-center gap-5 xl:mr-9">
            <SlideBtn />
            <SlideBtn />
            <SlideBtn />
            <SlideBtn />
          </div>
        </div>
      </div>

      <p class="text-bg mt-2 font-sans">
        {description}
      </p>

      <div class="mt-8">
        <Link href="#wasd">Let's Talk</Link>
      </div>
    </div>
  </Container>
</main>
