---
import Container from "./layout/Container.astro";
import VContainer from "./layout/VContainer.astro";
import SlideImages from "./SlideImages.astro";
import Link from "./nav/Link.astro";
import SlideBtn from "./nav/SlideBtn.astro";

const { title, description } = Astro.props;
---

<VContainer
  as="main"
  class="flex max-h-230 min-h-190 sm:max-h-240 sm:min-h-240"
>
  <Container
    as="div"
    class="mt-12 flex items-center gap-6 sm:mt-0 xl:gap-7 2xl:gap-9"
  >
    <div class="hidden flex-col gap-5 sm:inline-flex">
      <SlideBtn />
      <SlideBtn />
      <SlideBtn />
      <SlideBtn />
    </div>

    <SlideImages
      class="relative hidden h-[40vw] max-h-150 flex-1 rounded-xl contain-paint sm:inline-flex"
    >
      <slot />
    </SlideImages>

    <div class="flex-1">
      <h2 class="font-serif text-4xl font-bold">
        {title}
      </h2>

      <div class="mt-6 sm:hidden">
        <div class="flex">
          <div class="mr-inset flex flex-col justify-center gap-5 xl:mr-9">
            <SlideBtn />
            <SlideBtn />
            <SlideBtn />
            <SlideBtn />
          </div>

          <SlideImages
            class="-mr-inset relative h-70 flex-1 rounded-tl-xl rounded-bl-xl contain-paint"
          >
            <slot />
          </SlideImages>
        </div>
      </div>

      <p class="text-bg mt-4 font-sans">
        {description}
      </p>

      <div class="mt-8">
        <Link href="#wasd">Let's Talk</Link>
      </div>
    </div>
  </Container>
</VContainer>
