---
import Container from "./layout/Container.astro";
import VContainer from "./layout/VContainer.astro";
import SlideImages from "./SlideImages.astro";
import Link from "./nav/Link.astro";
import SlideBtn from "./nav/SlideBtn.astro";

const { title, description } = Astro.props;
---

<VContainer
  as="main"
  class="flex max-h-230 min-h-220 sm:max-h-320 sm:min-h-230"
>
  <Container
    as="div"
    class="mt-3 flex items-center gap-6 sm:mt-0 xl:gap-7 2xl:gap-9"
  >
    <div class="hidden flex-col gap-5 xl:flex">
      <SlideBtn />
      <SlideBtn />
      <SlideBtn />
      <SlideBtn />
    </div>

    <SlideImages
      class="relative hidden h-[60vh] max-h-175 min-h-100 w-[55%] rounded-md contain-paint sm:flex xl:w-1/2"
    >
      <slot />
    </SlideImages>

    <div class="flex-1">
      <h2 class="font-serif text-4xl font-bold text-balance">
        {title}
      </h2>

      <div class="mt-3 sm:hidden">
        <div class="flex">
          <SlideImages
            class="-ml-inset relative h-70 flex-1 rounded-tr-md rounded-br-md contain-paint"
          >
            <slot />
          </SlideImages>

          <div class="ml-inset flex flex-col justify-center gap-5 xl:mr-9">
            <SlideBtn />
            <SlideBtn />
            <SlideBtn />
            <SlideBtn />
          </div>
        </div>
      </div>

      <p class="text-bg mt-2 font-sans">
        {description}
      </p>

      <div class="mt-8">
        <Link href="#wasd">Let's Talk</Link>
      </div>
    </div>
  </Container>
</VContainer>
