---
import Container from "./layout/Container.astro";
import VContainer from "./layout/VContainer.astro";
import SlideImages from "./SlideImages.astro";
import Link from "./nav/Link.astro";
import SlideBtn from "./nav/SlideBtn.astro";

const { title, description } = Astro.props;
---

<VContainer as="main" class="flex max-h-230 min-h-190">
  <Container
    as="div"
    class="flex gap-6 xl:gap-7 2xl:gap-9 items-center mt-12 sm:mt-0"
  >
    <div class="hidden sm:inline-flex flex-col gap-5">
      <SlideBtn />
      <SlideBtn />
      <SlideBtn />
      <SlideBtn />
    </div>

    <SlideImages
      class="hidden sm:inline-flex relative flex-1 contain-paint rounded-xl h-[40vw] max-h-150"
    >
      <slot />
    </SlideImages>

    <div class="flex-1">
      <h2 class="font-serif font-bold text-4xl">
        {title}
      </h2>

      <div class="sm:hidden mt-6">
        <div class="flex">
          <div class="mr-inset xl:mr-9 flex flex-col gap-5 justify-center">
            <SlideBtn />
            <SlideBtn />
            <SlideBtn />
            <SlideBtn />
          </div>

          <SlideImages
            class="-mr-inset relative h-70 flex-1 rounded-tl-xl rounded-bl-xl contain-paint"
          >
            <slot />
          </SlideImages>
        </div>
      </div>

      <p class="font-sans mt-4 text-bg">
        {description}
      </p>

      <div class="mt-8">
        <Link href="">Let's Talk</Link>
      </div>
    </div>
  </Container>
</VContainer>
