<div class="markdown">
  <slot />
</div>

<style is:global lang="scss">
  .markdown {
    h2 {
      font-size: var(--text-xl) !important;
      font-family: var(--font-serif);
      font-weight: bold;
    }
  }
</style>
