---
import type { SchemaOf } from 'astro-frontmatter-components';
import { type SchemaContext, z } from 'astro:content';
import { DefaultPos } from '@/schemas';

export const schema = (_: SchemaContext) => ({
	id: z.string().optional(),
	pos: DefaultPos,
	title: z.string(),
	content: z.array(
		z.object({
			title: z.string(),
			desc: z.string(),
		}),
	),
});

export type Props = SchemaOf<typeof schema>;
const meta = Astro.props;

import Divider from './layout/Divider.astro';
import Title from './layout/Title.astro';
import Container from './layout/Container.astro';
import markdown from '@/backend/markdown';
---

<Divider>
	<Title title={meta.title} pos={meta.pos} class="relative flex items-center gap-6" />

	<Container variant="inner">
		<div class="grid grid-cols-1 gap-6 sm:grid-cols-2 md:gap-8 xl:gap-11">
			{
				meta.content.map(async (benefit, i) => {
					return (
						<div>
							<div class="mb-3 flex items-baseline gap-4">
								<h3 class="text-accent-dark heading-6xl font-bold">o{i + 1}</h3>
								<h4 class="heading-2xl font-semibold">{benefit.title}</h4>
							</div>

							<p class="desc-base" set:html={await markdown.parseInline(benefit.desc)} />
						</div>
					);
				})
			}
		</div>
	</Container>
</Divider>
