---
import { type SchemaOf, createSchema } from 'astro-frontmatter-cms';
import { type SchemaContext } from 'astro:content';
import { z } from 'astro:schema';
import { DefaultPos } from '@/schemas';

export const schema = createSchema('Benefits', (_: SchemaContext) => z.object({
	id: z.string().optional(),
	pos: DefaultPos,
	title: z.string(),
	content: z.array(
		z.object({
			title: z.string(),
			desc: z.string(),
		}),
	),
}));

export type Props = SchemaOf<typeof schema>;
const meta = Astro.props as Props;

import * as Layout from '@/components/Layout';
import markdown from '@/build/markdown';
---

<Layout.Divider id={meta.id}>
	<Layout.Title title={meta.title} pos={meta.pos} class="relative flex items-center gap-6" />

	<Layout.Container variant="inner">
		<div class="grid grid-cols-1 gap-4 sm:grid-cols-2 md:gap-5 xl:gap-6">
			{
				meta.content.map(async (benefit) => {
					return (
						<article class="rounded-lg border border-black/10 bg-white/70 p-5 shadow-sm shadow-black/5 md:p-6">
							<h3 class="font-serif text-2xl leading-tight font-bold text-pretty md:text-3xl">{benefit.title}</h3>

							<p class="mt-3 font-sans text-base leading-8 text-black/75 md:text-lg md:leading-9" set:html={await markdown.parseInline(benefit.desc)} />
						</article>
					);
				})
			}
		</div>
	</Layout.Container>
</Layout.Divider>
