.trigger {
	.expand {
		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: calc(50% - 1px);
			bottom: 0;
			width: 2px;
			background-color: currentColor;
			transform-origin: center;
			transition: transform 250ms;
		}
		&::after {
			content: '';
			position: absolute;
			left: 0;
			top: calc(50% - 1px);
			right: 0;
			height: 2px;
			background-color: currentColor;
			transform-origin: center;
		}
	}
	&[data-expanded] .expand::before {
		transform: rotateZ(90deg);
	}
}
