.link {
	position: relative;
	&::after {
		content: '';
		position: absolute;
		left: -2.25rem;
		top: -1rem;
		bottom: -1rem;
		transform: scaleY(0);
		transform-origin: left;
		width: 4px;
		background: var(--color-accent-dark);
		transition: transform 300ms ease-in-out;
		border-radius: 5px;
		opacity: 0.4;
	}
	&:hover::after {
		transform: scaleY(1);
	}
}

.burger {
	position: relative;

	&::after,
	&::before {
		content: '';
		position: absolute;
		top: 50%;
		left: 0;
		right: 0;
		background: var(--color-black);
		height: 2.5px;
		border-radius: 5px;
		transform-origin: center;
		transition:
			transform 250ms ease,
			left 250ms ease;
	}

	&::before {
		transform: translateY(-7px);
	}

	&::after {
		transform: translateY(7px);
		left: 30%;
	}

	&[data-open] {
		&::after {
			transform: rotate(45deg);
			left: 0;
		}

		&::before {
			transform: rotate(-45deg);
		}
	}
}
