---
import { Icon } from 'astro-icon/components';
import Island from './Header';

import type { SchemaOf } from 'astro-frontmatter-components';
import { type SchemaContext, z } from 'astro:content';

export const schema = (_: SchemaContext) => ({
	content: z.array(z.object({ id: z.string(), name: z.string() })),
});

import * as Layout from '@/components/Layout';
export type Props = SchemaOf<typeof schema>;
const meta = Astro.props as Props;
---

<header class="block py-3">
	<Layout.Container variant="inner" class="flex items-center gap-3">
		<Icon aria-label="Strataline" name="logo" class="z-1 h-auto w-34 sm:w-40 xl:w-50" is:inline />

		<div class="flex-1"></div>

		<Island client:visible content={meta.content} />
	</Layout.Container>
</header>
