---
import { Icon } from 'astro-icon/components';
import Island from './Header';

import { type SchemaOf, createSchema } from 'astro-frontmatter-components';
import { type SchemaContext, z } from 'astro:content';
import business from '#/business.json';

export const schema = createSchema('Header', (_: SchemaContext) => ({
	content: z.array(z.object({ id: z.string(), name: z.string() })),
}));

import * as Layout from '@/components/Layout';
export type Props = SchemaOf<typeof schema>;
const meta = Astro.props as Props;
---

<header class="block py-3">
	<Layout.Container variant="inner" class="flex items-center justify-between gap-3">
		<Icon
			aria-label="Strataline"
			name="logo"
			class="text-secondary h-auto w-30 sm:w-40 xl:w-50"
			is:inline
		/>

		<div class="relative inline-flex gap-4 md:gap-10">
			<span class="md:text-md my-auto font-sans text-base leading-none pt-2"
				>+1 {business.telephone}</span
			>
			<Island client:visible content={meta.content} />
		</div>
	</Layout.Container>
</header>
