---
import { type SchemaOf, createSchema } from 'astro-frontmatter-components';
import { type SchemaContext, z } from 'astro:content';
import { image } from '@/schemas/image';

export const schema = createSchema('Hero', (c: SchemaContext) => ({
	id: z.string().optional(),
	title: z.string(),
	desc: z.string(),
	content: z.object({
		images: z.array(z.object(image(c))),
		speed: z.number().default(5.0),
	}),
}));

export type Props = SchemaOf<typeof schema>;
const meta = Astro.props;

import * as Layout from '@/components/Layout';
import Island from './Hero';
import Talk from '@/components/Talk';
---

<section class="relative box-content py-5 xl:py-20" id={meta.id}>
	<span
		class="bg-primary absolute -top-25 right-0 -bottom-15 z-[-1] rounded-br-lg sm:left-0 sm:block sm:w-1/4 xl:w-(--right-hero-offset)"
	>
	</span>

	<Layout.Container
		variant="outer"
		class="relative flex flex-col gap-5 sm:flex-row sm:gap-8 xl:gap-13"
	>
		<div class="order-2 flex sm:w-1/2 sm:shrink-0 sm:flex-col 2xl:flex-row-reverse ">
			<Island client:visible content={meta.content} />
		</div>

		<div class="contents flex-col gap-2 sm:order-2 sm:flex sm:justify-center sm:gap-4">
			<h1 class="heading-7xl">{meta.title}</h1>
			<div class="order-3">
				<p class="desc-base">{meta.desc}</p>
				<Talk client:load />
			</div>
		</div>
	</Layout.Container>
</section>
