---
import type { SchemaOf } from 'astro-frontmatter-components';
import { type SchemaContext, z } from 'astro:content';
import { image } from '@/schemas/image';

export const schema = (c: SchemaContext) => ({
	id: z.string().optional(),
	title: z.string(),
	desc: z.string(),
	speed: z.number().default(5.0),
	content: z.array(z.object(image(c))),
});

export type Props = SchemaOf<typeof schema>;
const meta = Astro.props;

import Container from './layout/Container.astro';
import Island from './Hero';
import FluidTalk from '@/components/FluidTalk';
import { cn } from '@/frontend/utils';
---

<section class="" id={meta.id}>
	<Container
		variant="outer"
		class={cn('grid grid-cols-1 sm:grid-cols-2 sm:gap-x-6 md:gap-x-8 xl:gap-x-11', 'relative')}
	>
		<div
			class="order-2 mt-5 flex items-center gap-2 sm:order-1 sm:my-0 sm:h-[clamp(10rem,100svh,90rem)] sm:flex-col 2xl:flex-row-reverse"
		>
			<Island client:visible {...meta} />
		</div>

		<div class="contents sm:order-2 sm:flex sm:flex-col sm:justify-center">
			<h1 class="heading-6xl order-1 font-bold sm:order-none">{meta.title}</h1>
			<div class="order-3">
				<p class="desc-base mt-5">{meta.desc}</p>
				<FluidTalk client:load />
			</div>
		</div>
	</Container>
</section>
