---
import { marked } from 'marked';

import type { SchemaOf } from 'astro-frontmatter-components';
import { type SchemaContext, z } from 'astro:content';
import { DefaultPos } from '@/schemas';

export const schema = (_: SchemaContext) => ({
	id: z.string().optional(),
	pos: DefaultPos,
	title: z.string(),
	content: z.array(
		z.object({
			title: z.string(),
			desc: z.string(),
			date: z.coerce.date().optional(),
			url: z.string().optional(),
			location: z.string(),
			stars: z.number(),
			id: z.string().optional(),
		}),
	),
});

export type Props = SchemaOf<typeof schema>;
const meta = Astro.props;

for (const [_, review] of meta.content.entries()) {
	review.desc = marked.parseInline(review.desc) as string;
}

import Divider from './layout/Divider.astro';
import Title from './layout/Title.astro';
import Container from './layout/Container.astro';
import Island from './Reviews';
---

<Divider id={meta.id}>
	<Title title={meta.title} pos={meta.pos} />
	<div class="contain-paint">
		<Container variant="inner" class="select-none">
			<Island client:visible {...meta.content} />
		</Container>
	</div>
</Divider>
