---
import type { SchemaOf } from 'astro-frontmatter-components';
import { type SchemaContext, z } from 'astro:content';
import { DefaultPos } from '@/schemas';

export const schema = (_: SchemaContext) => ({
	id: z.string().optional(),
	pos: DefaultPos,
	title: z.string(),
	content: z.array(
		z.object({
			title: z.string(),
			desc: z.string(),
			date: z.coerce.date().optional(),
			url: z.string().optional(),
			location: z.string(),
			stars: z.number(),
			id: z.string().optional(),
		}),
	),
});

export type Props = SchemaOf<typeof schema>;
const meta = Astro.props as Props;

import * as Layout from '@/components/Layout';
import Island from './Reviews';
import markdown from '@/build/markdown';

for (const [_, review] of meta.content.entries()) {
	review.desc = await markdown.parseInline(review.desc);
}
---

<Layout.Divider id={meta.id}>
	<Layout.Title title={meta.title} pos={meta.pos} />
	<div class="contain-content">
		<Layout.Container variant="inner" class="select-none">
			<Island client:visible meta={meta.content} />
		</Layout.Container>
	</div>
</Layout.Divider>
