---
import { getCollection } from "astro:content";
import Footer from "~/components/nav/Footer.astro";
import TalkMenu from "~/components/nav/TalkMenu.astro";

const [index] = await getCollection("index");
import "~/styles/global.css";

const { title } = Astro.props;
---

<!doctype html>
<html lang="en" data-safari-bad="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="canonical" href={Astro.url.href} />
    <script src="../index.ts"></script>
    <title slot="head">
      {title && `${title} | `}
      {index.data.business.name}
    </title>
    <slot name="head" />
  </head>
  <body>
    <TalkMenu />
    <slot />
    <Footer />
  </body>
</html>
