---
import { getCollection } from "astro:content";

import Footer from "~/components/nav/Footer.astro";
import LetsTalk from "~/components/nav/LetsTalk.astro";

import "~/styles/global.css";

const [index] = await getCollection("index");

const { title = index.data.title, description = index.data.description } =
  Astro.props;

const business = index.data.local_business;

function generateLocalBusinessSchema(data: any) {
  const schema = {
    "@context": "https://schema.org",
    "@type": "LocalBusiness",
  };

  if (data.name) schema.name = data.name;
  if (data.alternateName) schema.alternateName = data.alternateName;
  if (data.description) schema.description = data.description;
  if (data.url) schema.url = data.url;
  if (data.image) schema.image = data.image;
  if (data.sameAs) {
    schema.sameAs = Array.isArray(data.sameAs)
      ? data.sameAs.map((item) => item.url)
      : data.sameAs.url;
  }
  if (data.legalName) schema.legalName = data.legalName;
  if (data.foundingDate) schema.foundingDate = data.foundingDate;
  if (data.foundingLocation) schema.foundingLocation = data.foundingLocation;
  if (data.founder) schema.founder = data.founder;
  if (data.address) {
    if (typeof data.address === "string") {
      schema.address = data.address;
    } else {
      schema.address = {
        "@type": "PostalAddress",
        ...data.address,
      };
    }
  }

  if (data.email) schema.email = data.email;
  if (data.telephone) schema.telephone = data.telephone;
  if (data.faxNumber) schema.faxNumber = data.faxNumber;
  if (data.taxID) schema.taxID = data.taxID;
  if (data.vatID) schema.vatID = data.vatID;
  if (data.globalLocationNumber)
    schema.globalLocationNumber = data.globalLocationNumber;
  if (data.isicV4) schema.isicV4 = data.isicV4;
  if (data.duns) schema.duns = data.duns;
  if (data.leiCode) schema.leiCode = data.leiCode;
  if (data.naics) schema.naics = data.naics;
  if (data.logo) schema.logo = data.logo;
  if (data.slogan) schema.slogan = data.slogan;
  if (data.numberOfEmployees) {
    schema.numberOfEmployees = {
      "@type": "QuantitativeValue",
      value: data.numberOfEmployees,
    };
  }

  if (data.contactPoint) {
    if (Array.isArray(data.contactPoint)) {
      schema.contactPoint = data.contactPoint.map((cp) => ({
        "@type": "ContactPoint",
        ...cp,
      }));
    } else {
      schema.contactPoint = {
        "@type": "ContactPoint",
        ...data.contactPoint,
      };
    }
  }

  if (data.currenciesAccepted)
    schema.currenciesAccepted = data.currenciesAccepted;
  if (data.openingHours) schema.openingHours = data.openingHours;
  if (data.paymentAccepted) schema.paymentAccepted = data.paymentAccepted;
  if (data.priceRange) schema.priceRange = data.priceRange;

  if (data.areaServed) schema.areaServed = data.areaServed;
  if (data.geo) {
    schema.geo = {
      "@type": "GeoCoordinates",
      ...data.geo,
    };
  } else if (data.latitude && data.longitude) {
    schema.geo = {
      "@type": "GeoCoordinates",
      latitude: data.latitude,
      longitude: data.longitude,
    };
  }

  if (data.hasMap) schema.hasMap = data.hasMap;
  if (data.openingHoursSpecification) {
    if (Array.isArray(data.openingHoursSpecification)) {
      schema.openingHoursSpecification = data.openingHoursSpecification.map(
        (ohs) => ({
          "@type": "OpeningHoursSpecification",
          ...ohs,
        }),
      );
    } else {
      schema.openingHoursSpecification = {
        "@type": "OpeningHoursSpecification",
        ...data.openingHoursSpecification,
      };
    }
  }

  if (data.aggregateRating) {
    schema.aggregateRating = {
      "@type": "AggregateRating",
      ...data.aggregateRating,
    };
  }

  if (data.acceptedPaymentMethod)
    schema.acceptedPaymentMethod = data.acceptedPaymentMethod;
  if (data.award) schema.award = data.award;
  if (data.department) schema.department = data.department;
  if (data.hasDriveThroughService !== undefined)
    schema.hasDriveThroughService = data.hasDriveThroughService;
  if (data.keywords) schema.keywords = data.keywords;
  if (data.maximumAttendeeCapacity)
    schema.maximumAttendeeCapacity = data.maximumAttendeeCapacity;
  if (data.publicAccess !== undefined) schema.publicAccess = data.publicAccess;
  if (data.smokingAllowed !== undefined)
    schema.smokingAllowed = data.smokingAllowed;
  if (data.brand) schema.brand = data.brand;

  return schema;
}

// Generate the schema
const localBusinessSchema = business
  ? generateLocalBusinessSchema(business)
  : null;
---

<!doctype html>
<html lang="en" data-safari-bad="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <title>{title}</title>
    <meta name="description" content={description} />
    <script src="../index.ts"></script>
    {
      localBusinessSchema && (
        <script
          type="application/ld+json"
          set:html={JSON.stringify(localBusinessSchema, null, 2)}
        />
      )
    }
  </head>
  <body>
    <LetsTalk />
    <slot />
    <Footer />
  </body>
</html>
