---
import "~/styles/global.css";
import { Font } from "astro:assets";

---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <script src="~/frontend/index.js"></script>
    <Font cssVariable="--font-cormorant" />
    <Font cssVariable="--font-dm-sans" />
  </head>
  <body><slot /></body>
</html>
