---
import { getCollection } from "astro:content";

import Footer from "~/components/nav/Footer.astro";
import TalkMenu from "~/components/nav/TalkMenu.astro";

import "~/styles/global.css";

const [index] = await getCollection("index");

const { title = index.data.title, description = index.data.description } =
  Astro.props;
---

<!doctype html>
<html lang="en" data-safari-bad="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <title>{title}</title>
    <meta name="description" content={description} />
    <script src="../index.ts"></script>
    <slot name="head" />
  </head>
  <body>
    <TalkMenu />
    <slot />
    <Footer />
  </body>
</html>
