---
import Socials from "~/components/nav/Socials.astro";
import Container, { ContainerVariant } from "~/components/div/Container.astro";

const { index } = Astro.locals;
---

<Container
  class="border-accent border-t-1 bg-white"
  as="footer"
  variant={ContainerVariant.Inner}
>
  <div class="py-22">
    {
      index.data.business.areaServed && (
        <>
          <div>
            <h3 class="mb-1 font-serif text-2xl font-bold">
              Municipalities we serve
            </h3>

            <p class="font-sans text-base">
              We provide services to Toronto condos. Especially popcorn removal
              and painting.
            </p>
          </div>

          <ul class="mt-8 grid grid-cols-[repeat(auto-fill,minmax(10rem,1fr))] gap-y-3 sm:grid-cols-[repeat(auto-fill,minmax(14rem,1fr))]">
            {index.data.business.areaServed.map((area: any, _: number) => (
              <li>
                <span class="font-sans text-base">{area}</span>
              </li>
            ))}
          </ul>
        </>
      )
    }
  </div>

  <div
    class="border-accent flex flex-col-reverse items-center justify-between gap-4 border-t-1 py-6 md:flex-row"
  >
    <div class="flex flex-col items-center sm:flex-row sm:gap-12">
      <span class="font-sans text-base"
        ><strong class="font-semibold">&copy; {index.data.business.name}</strong
        >. 2025</span
      >

      <div class="flex gap-6">
        <a
          class="text-url font-sans text-base hover:underline"
          href="/privacy"
          data-astro-prefetch
        >
          Privacy Policy
        </a>

        <!-- <a -->
        <!--   class="text-url font-sans text-base hover:underline" -->
        <!--   href="/medallions" -->
        <!-- > -->
        <!--   Medallions -->
        <!-- </a> -->
      </div>
    </div>

    <Socials class="flex flex-row" imageClass="w-16 xl:w-18 h-auto" />
  </div>
</Container>
