---
import { getCollection } from "astro:content";

import Socials from "~/components/nav/Socials.astro";
import Container, { ContainerVariant } from "~/components/div/Container.astro";

const [index] = await getCollection("index");
---

<Container
  class="border-accent border-t-1 bg-white"
  as="footer"
  variant={ContainerVariant.Inner}
>
  <div class="py-22">
    {
      index.data.local_business.areaServed && (
        <>
          <div>
            <h3 class="mb-2 font-serif text-2xl font-bold">
              Municipalities we serve
            </h3>

            <p class="font-sans text-base">
              We provide services to Downton condos. Especially popcorn removal
              and painting.
            </p>
          </div>

          <ul class="mt-8 columns-[10rem] gap-2 sm:columns-[13rem]">
            {index.data.local_business.areaServed.map((area, _) => (
              <li>
                <a
                  href={`https://www.google.com/maps/search/?api=1&query=${encodeURIComponent(
                    area,
                  )}`}
                  target="_blank"
                  rel="noopener noreferrer nofollow"
                  class="text-url font-sans text-base hover:underline"
                >
                  {area}
                </a>
              </li>
            ))}
          </ul>
        </>
      )
    }
  </div>

  <div
    class="border-accent flex flex-col-reverse items-center justify-between gap-4 border-t-1 py-6 md:flex-row"
  >
    <div class="flex flex-col items-center sm:flex-row sm:gap-12">
      <span class="font-sans text-base"
        ><b>&copy; {index.data.title}</b>. 2025</span
      >

      <div class="flex gap-6">
        <a class="text-url font-sans text-base hover:underline" href="/privacy">
          Privacy Policy
        </a>

        <a
          class="text-url font-sans text-base hover:underline"
          href="/medallions"
        >
          Medallions
        </a>
      </div>
    </div>

    <Socials class="flex flex-row" imageClass="w-16 xl:w-18 h-auto" />
  </div>
</Container>
