---
import { getCollection } from "astro:content";

import Socials from "~/components/nav/Socials.astro";
import Container, { ContainerVariant } from "~/components/div/Container.astro";

const [index] = await getCollection("index");
---

<Container
  class="border-accent border-t-[1.4px] bg-white"
  as="footer"
  variant={ContainerVariant.Inner}
>
  <div class="space-y-8 py-20">
    {
      index.data.local_business.areaServed && (
        <>
          <div>
            <h4 class="mb-2 font-serif text-2xl font-semibold">
              Municipalities we serve
            </h4>

            <p class="font-sans text-base">
              We provide services to Downton condos. Especially popcorn removal
              and painting.
            </p>
          </div>
          <ul class="columns-[10rem] gap-2 sm:columns-[13rem]">
            {index.data.local_business.areaServed.map((area, _) => (
              <li>
                <a
                  href={`https://www.google.com/maps/search/?api=1&query=${encodeURIComponent(
                    area,
                  )}`}
                  target="_blank"
                  rel="noopener noreferrer nofollow"
                  class="text-url font-sans text-base hover:underline"
                >
                  {area}
                </a>
              </li>
            ))}
          </ul>
        </>
      )
    }
  </div>

  <div
    class="border-accent py-inset flex flex-col items-center justify-between gap-2 border-t-[1.4px] md:flex-row"
  >
    <span class="text-bg font-sans"><b>&copy; {index.data.title}</b>. 2025</span
    >

    <Socials class="flex flex-row" imageClass="w-16 xl:w-18 h-auto" />
  </div>
</Container>
