---
import Container, { ContainerVariant } from "../layout/Container.astro";
---

<header class="absolute z-48 w-full">
  <Container
    as="div"
    variant={ContainerVariant.Inner}
    class="py-inset flex items-center justify-between"
  >
    <h1 class="text-accent-dark font-serif text-3xl font-bold">Strataline</h1>
    <nav>
      <ul class="hidden gap-10 xl:flex">
        <li><a href="#wasd" class="text-bg font-sans">Popular</a></li>
        <li><a href="#wasd" class="text-bg font-sans">Gallery</a></li>
        <li class="flex items-center">
          <a href="#wasd" class="text-bg font-sans">Services </a>

          <svg class="ml-2" width="18" height="18" viewBox="0 0 256 256">
            <path
              color="#000"
              d="m216.49 104.49l-80 80a12 12 0 0 1-17 0l-80-80a12 12 0 0 1 17-17L128 159l71.51-71.52a12 12 0 0 1 17 17Z"
            ></path>
          </svg>
        </li>
        <li><a href="#wasd" class="text-bg font-sans">Accomplishments</a></li>
        <li><a href="#wasd" class="text-bg font-sans">Reviews</a></li>
      </ul>
      <div class="xl:hidden">
        <h2>Hello</h2>
      </div>
    </nav>
  </Container>
</header>

<style lang="scss">
  a {
    position: relative;
    &::after {
      content: "";
      position: absolute;
      bottom: -0.4rem;
      right: 10%;
      left: 10%;
      transform: scaleX(0);
      height: 1px;
      background: var(--color-black);
      transition: transform 200ms ease-in-out;
      opacity: 0.5;
    }
    &:hover::after {
      transform: scaleX(1);
    }
  }
</style>
