---
import { getCollection } from "astro:content";
import Input from "~/components/inputs/Input.astro";
const [index] = await getCollection("index");
---

<div
  data-safari-bad="duration-500"
  id="talkMenu"
  class="pointer-events-none fixed inset-0 z-50 flex translate-y-full items-center justify-center overflow-scroll bg-white [&.active]:pointer-events-auto [&.active]:translate-y-0"
>
  <div class="px-inset w-full max-w-100">
    <h2 class="mb-12 font-serif text-5xl font-bold">Let's talk</h2>

    <form class="space-y-10" enctype="multipart/form-data" method="post">
      <Input name="Email" required autocomplete="on" type="email" />
      <Input
        name="Phone number"
        required
        minlength="10"
        inputmode="tel"
        autocomplete="on"
        pattern="^\([0-9]{3}\) [0-9]{3}-[0-9]{4}$"
      />
    </form>
  </div>
</div>
