---
import clsx from "clsx";
const { class: customClass, ...slot } = Astro.props;
---

<a
  class={clsx(
    `bg-white border-black rounded-lg border-[1.5px] font-serif font-bold table py-2 px-5 xl:py-[.6rem] xl:px-[1.4rem] text-lg`,
    customClass,
  )}
  {...slot}
>
  <slot />
</a>
