---
import clsx from "clsx";
const { class: customClass, href } = Astro.props;
---

<a
  href={href}
  class={clsx(
    `border-black rounded-lg border-2 font-serif font-bold table py-2 px-5 xl:py-[.6rem] xl:px-[1.4rem] text-lg ${customClass}`,
  )}
>
  <slot />
</a>
