---
import clsx from "clsx";
import { parseHTML } from "linkedom";

const { ...slot } = Astro.props;

const { document } = parseHTML(await Astro.slots.render("default"));

const images = document.querySelectorAll("img");

images.forEach((img, index) => {
  let classes =
    "object-cover min-w-0 w-0 h-full transition-[width] duration-700 [&.active]:w-full";
  if (index !== 0) {
    img.setAttribute("fetchpriority", "low");
  } else {
    img.setAttribute("fetchpriority", "high");
    classes = `${classes} active`;
  }

  img.setAttribute("loading", "eager");
  img.setAttribute("class", clsx(classes));
});
---

<div {...slot}>
  <Fragment set:html={document} />
</div>
