---
import SlideBtn from "./SlideBtn.astro";

const { class: customClass, idx: slideId, length , ...rest } = Astro.props;
---

<div class={customClass} {...rest} data-slide-nav={slideId}>
  {
    Array.from({ length }).map((_, i) => (
      <SlideBtn
        class={i === 0 ? "active" : ""}
        onclick={`slideNext('${slideId}', ${i})`}
      />
    ))
  }
</div>
