---
import clsx from "clsx";
import { Icon } from "astro-icon/components";
import { getCollection } from "astro:content";

const [index] = await getCollection("index");
const { imageClass, ...slot } = Astro.props;
---

<ul {...slot}>
  {
    index.data.local_business.sameAs.map((social: any) => (
      <li>
        <a target="_blank" href={social.url}>
          <Icon
            style={`color: #${social.color}`}
            name={`ph:${social.icon}`}
            class={clsx(imageClass)}
          />
        </a>
      </li>
    ))
  }
</ul>
